<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12">
						<div style="margin-top: 1%; margin-bottom: 17px;">
							<router-link to="/service" style="color: #72617d"><i class="fa fa-angle-left" aria-hidden="true"><span style="margin-left: 10px">Go back</span></i></router-link>
						</div>
						<ul class="service_tab">
							<li><router-link class="" to="/add_service1">OVERVIEW</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 29px"></i></li>
							<li><router-link class="" to="/add_service2">PRICING/PACKAGE</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><router-link class="" to="/add_service3">DESCRIPTION & FAQ</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><router-link class="" to="/add_service4">COVER IMAGES</router-link></li>
						</ul>
						<div class="clear" style="height: 30px; background: white;"></div>
						<!-- /.About Intro Content -->
						<div class="service_1">
							<div class="row">
								<div class="col-lg-9">
									<div style="padding-top: 25px; padding-bottom: 20px">
										<p style="color: #5b5b5b">SERVICE TITLE</p>
										<input type="text" class="bnmx form-control" name="" data-toggle="popover">
									</div>
									<div class="row">
										<div class="col-lg-6">
											<p style="color: #5b5b5b">CATEGORY</p>
											<select class="form-control bnmx" disabled>
												<option>GRAPHIC DESIGN</option>
											</select>
											<!-- <input type="text" class="bnmx form-control" name=""> -->
										</div>
										<div class="col-lg-6" data-toggle="popover">
											<p style="color: #5b5b5b">SUB CATEGORY</p>
											<select class="form-control bnmx">
												<option>LOGO DESIGN</option>
												<option>BUSINESS CARDS</option>
												<option>LUUSTRATION</option>
												<option>CARTOONS</option>
												<option>FLAYERS</option>
												<option>PACKAGING DESIGN</option>
											</select>
											<!-- <input type="text" class="bnmx form-control" name=""> -->
										</div>
									</div>
									<div class="row" style="margin-top: 15px;">
										<div class="col-lg-5">
											<p style="font-size: 15px; color: #5b5b5b">TARGET AUDIENCE</p>
										</div>
										<div class="col-lg-7">
											<p style="font-size: 15px; color: #c8c8c8">Select the two grops thatbest represent your following/audience</p>
											<label style="cursor: pointer">
												<input type="checkbox" checked="checked" />
												<span>Anims & Pets</span>
											</label><br>
											<label style="cursor: pointer;">
												<input type="checkbox" checked="checked" />
												<span>Art & Design</span>
											</label>
										</div>
									</div>
									<div class="row" style="margin-top: 15px;">
										<div class="col-lg-12" data-toggle="popover">
											<p style="font-size: 15px; color: #5b5b5b">SEARCH TAGS</p>
											<input class="bmn form-control" id="ms1" style="width:400px;" type="text" name="ms1"/>
											<!-- <div class="tags_box">
												<a href="#" class="linkbtnz1">DITAL MARKETING x</a>
												<a href="#" class="linkbtnz1">DITAL MARKETING x</a>
												<a href="#" class="linkbtnz1">DITAL MARKETING x</a>
												<br>
												<a href="#" class="linkbtnz1">DITAL MARKETING x</a>
												<a href="#" class="linkbtnz1">DITAL MARKETING x</a>
												<a href="#" class="linkbtnz1">DITAL MARKETING x</a>
											</div> -->
										</div>
									</div>
								</div>
								<div class="col-lg-5" style="display: none;">
									<div class="triangle-down"></div>
									<div class="square">
										<div class="notification">
											<img src="/static/i.jpg">
										</div>
										<div class="notification_title">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p><br>
											<p>Lorem Ipsum has been the indus-try's standard dummy text ever since the 1500s,</p><br>
											<p>when an unknown printer took a gallery of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clear" style="height: 50px"></div>
						<div class="social_profile">
							<div class="row">
								<div class="col-lg-7" data-toggle="popover">
									<div style="padding-top: 25px; padding-bottom: 20px">
										<p style="color: #5b5b5b">SELECT SOCIAL PROFILE</p>
										<select id="payments" name="payments" style="width:250px;">
											<option value="" data-image="/static/f_icon.jpg">Facebook</option>
											<optgroup>
												<option value="amex" data-image="/static/subimg.jpg" data-description="34372 followers">Caligraphy Nepal</option>
												<option value="Discover" data-image="/static/subimg.jpg" data-description="34372 followers">Fashion Designer</option>
												<option value="Mastercard" data-image="/static/subimg.jpg" data-description="34372 followers">Caligraphy Nepal</option>
											</optgroup>
											<option value="" data-image="/static/t_icon.jpg">Twitter</option>
											<optgroup>
												<option value="amex" data-image="/static/subimg.jpg" data-description="34372 followers">Caligraphy Nepal</option>
												<option value="Discover" data-image="/static/subimg.jpg" data-description="34372 followers">Fashion Designer</option>
											</optgroup>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="next-section">
							<div class="row">
								<div class="col-lg-7"></div>
								<div class="col-lg-5">
									<div class="form-check">
										<router-link to="/add_service2" style="color:white" type="submit" class="btn btn-login float-right">SAVE & CONTINUE</router-link>
									</div>
									<router-link to="/service" class="btnBk">Back</router-link>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
	},	
	mounted() {
		$(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'right',
                trigger : 'hover',
                html : true,
                content : '<div class="square"><div class="notification"><img src="/static/i.jpg"></div><div class="notification_title"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p><br><p>Lorem Ipsum has been the indus-trys standard dummy text ever since the 1500s,</p><br><p>when an unknown printer took a gallery of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p></div></div>'
            });
        });

		$(document).ready(function(){
            $(".filter_click").click(function(){
                $(".filter").toggle();
            });
            $(".dot_click").click(function(){
                $(".edit_dots").toggle();
            });
            $(".dot_click1").click(function(){
                $(".edit_dots1").toggle();
            });
            $(".dot_click2").click(function(){
                $(".edit_dots2").toggle();
            });
            $("select").msDropdown({roundedBorder:false});
            $("#tech").data("dd");
        });
	}
}
</script>
