<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12">
						<div style="margin-top: 1%; margin-bottom: 17px;">
							<router-link to="/service" style="color: #72617d"><i class="fa fa-angle-left" aria-hidden="true"><span style="margin-left: 10px">Go back</span></i></router-link>
						</div>
						<ul class="service_tab">
							<li><router-link class="" to="/add_service1">OVERVIEW</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 29px"></i></li>
							<li><router-link class="" to="/add_service2">PRICING/PACKAGE</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><router-link class="" to="/add_service3">DESCRIPTION & FAQ</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><router-link class="" to="/add_service4">COVER IMAGES</router-link></li>
						</ul>
						<div class="clear" style="height: 30px; background: white;"></div>
						<!-- /.About Intro Content -->
						<div id="plus_package">
							<div class="service_1" style="padding-top: 10px; padding-bottom: 20px; background: #f4f4f4">
								<div class="col-lg-7">
									<div class="row">
										<div class="col-lg-12" data-toggle="popover">
											<p style="color: #5b5b5b">Upload photos that describe or related to your Services</p>
											<div class="row">
												<div class="col-lg-4">
													<div class="square" style="height: 100px; border: none;"></div>
												</div>
												<div class="col-lg-4">
													<div class="square" style="height: 100px; border: none;"></div>
												</div>
												<div class="col-lg-4">
													<div class="square" style="height: 100px; border: none;"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-5" style="display: none;">
									<div class="square" style="margin-top: 40px; padding-top: 25px; height: 270px; border-left: 25px solid #f4f4f4;">
										<div class="notification">
											<img src="../../images/i.jpg">
										</div>
										<div class="notification_title">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p><br>
											<p>Lorem Ipsum has been the indus-try's standard dummy text ever since the 1500s,</p><br><br>
										</div>
									</div>
								</div>
							</div>

							<div class="clear" style="height: 20px"></div>

						</div>
						<div class="next-section" style="margin-top: 150px;">
							<div class="row">
								<div class="col-lg-7"></div>
								<div class="col-lg-5">
									<div class="form-check">
										<router-link to="/add_service5" style="color:white" type="submit" class="btn btn-login float-right">SAVE & CONTINUE</router-link>
									</div>
									<router-link to="/add_service3" class="btnBk">Back</router-link>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
	},	
	mounted() {
		$(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'right',
                trigger : 'hover',
                html : true,
                content : '<div class="square"><div class="notification"><img src="/static/i.jpg"></div><div class="notification_title"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p><br><p>Lorem Ipsum has been the indus-trys standard dummy text ever since the 1500s,</p><br><p>when an unknown printer took a gallery of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p></div></div>'
            });
        });
	}
}
</script>
