<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12">
						<div style="margin-top: 1%; margin-bottom: 17px;">
							<router-link to="/service" style="color: #72617d"><i class="fa fa-angle-left" aria-hidden="true"><span style="margin-left: 10px">Go back</span></i></router-link>
						</div>
						<div class="clear"></div>
						<div class="row">
							<div class="col-lg-12">
								<div style="text-align: center; padding-top: 15%; padding-bottom: 15%;">
									<img src="../../images/done.jpg" >
									<br>
									<h6 style="margin-top: 25px; line-height: 3">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h6>
									<h6 style="line-height: 3; margin-bottom: 50px;">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h6>
									<router-link to="/service" style="color:white; background: #523863; width: 150px;" type="submit" class="btn btn-login">DONE</router-link>
								</div>
							</div>
						</div>
						<!-- /.About Intro Content -->
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
	},	
	mounted() {
		
	}
}
</script>
