<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12">
						<div style="margin-top: 1%; margin-bottom: 17px;">
							<router-link to="/service" style="color: #72617d"><i class="fa fa-angle-left" aria-hidden="true"><span style="margin-left: 10px">Go back</span></i></router-link>
						</div>
						<ul class="service_tab">
							<li><router-link class="" to="/add_service1">OVERVIEW</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 29px"></i></li>
							<li><router-link class="" to="/add_service2">PRICING/PACKAGE</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><router-link class="" to="/add_service3">DESCRIPTION & FAQ</router-link><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><router-link class="" to="/add_service4">COVER IMAGES</router-link></li>
						</ul>
						<div class="clear" style="height: 30px; background: white;"></div>
						<!-- /.About Intro Content -->
						<div id="plus_package">
							<div class="service_1" style="padding-top: 10px; padding-bottom: 0;">
								<div class="col-lg-9">
									<div style="padding-top: 25px; padding-bottom: 20px" data-toggle="popover">
										<p style="color: #5b5b5b">PACKAGES NAME</p>
										<input type="text" class="bnmx form-control" name="">
									</div>
									<div class="row" data-toggle="popover">
										<div class="col-lg-12">
											<p style="color: #5b5b5b">SUMMARY</p>
											<textarea class="bnmx form-control" name="" id="" cols="30" rows="3"></textarea>
										</div>
									</div>
									<div class="row" data-toggle="popover">
										<div class="col-lg-12">
											<p style="color: #5b5b5b">DESCRIPTION</p>
											<textarea class="bnmx form-control" name="" id="" cols="30" rows="3"></textarea>
										</div>
									</div>
									<div style="padding-top: 25px; padding-bottom: 20px" data-toggle="popover">
										<p style="color: #5b5b5b">PRICE</p>
										<input type="text" class="bnmx form-control" name="">
									</div>
								</div>
								<div class="col-lg-5" style="display: none;">
									<div class="square" style="margin-top: 70px; padding-top: 25px;">
										<div class="notification">
											<img src="../../images/i.jpg">
										</div>
										<div class="notification_title">
											<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p><br>
											<p>Lorem Ipsum has been the indus-try's standard dummy text ever since the 1500s,</p><br><br>
										</div>
									</div>
								</div>
							</div>

							<div class="clear" style="height: 20px"></div>

							<div class="service_1" style="padding-top: 10px; padding-bottom: 0;">
								<div class="col-lg-7" data-toggle="popover">
									<div style="padding-top: 0; padding-bottom: 20px">
										<p style="color: #5b5b5b">EXTRAS FEATURES</p>
										<div style="padding: 25px; margin-bottom: 15px;">
											<div class="bnmx">
												<label style="cursor: pointer;">
													<input class="extra_days" href="javascript:" type="checkbox" />
													<span>EXTRA DAYS</span>
												</label>
											</div><br>
											<div id="extra_days" class="row" style="padding-left: 20px; display: none">
												<div class="col-lg-6" style="display: flex;">
													<p style="margin-left: 15px; margin-right: 30px; margin-top: 10px; color: #828282">PRICE</p>
													<select class="form-control bnmx" style="width: 100px">
														<option>5$</option>
														<option>10$</option>
														<option>15$</option>
														<option>20$</option>
														<option>25$</option>
														<option>30$</option>
														<option>35$</option>
														<option>40$</option>
														<option>45$</option>
														<option>50$</option>
														<option>55$</option>
														<option>60$</option>
														<option>65$</option>
														<option>70$</option>
														<option>75$</option>
														<option>80$</option>
														<option>85$</option>
														<option>90$</option>
														<option>95$</option>
														<option>100$</option>
													</select>
													<!-- <input class="form-control bnmx" style="width: 100px"> -->
												</div>
												<div class="col-lg-6" style="display: flex;">
													<p style="margin-left: 15px; margin-right: 30px; margin-top: 10px; color: #828282">DAYS</p>
													<select class="form-control bnmx" style="width: 100px">
														<option>1 DAY</option>
														<option>2 DAYS</option>
														<option>3 DAYS</option>
														<option>4 DAYS</option>
														<option>5 DAYS</option>
														<option>6 DAYS</option>
														<option>7 DAYS</option>
														<option>8 DAYS</option>
														<option>9 DAYS</option>
														<option>10 DAYS</option>
														<option>11 DAYS</option>
														<option>12 DAYS</option>
														<option>13 DAYS</option>
														<option>14 DAYS</option>
														<option>15 DAYS</option>
													</select>
													<!-- <input class="form-control bnmx" style="width: 100px"> -->
												</div>
											</div>
											<div class="clear dot"></div>
											<div class="bnmx">
												<label style="cursor: pointer;">
													<input class="revision" href="javascript:" type="checkbox" />
													<span>ADDITIONAL REVISION</span>
												</label>
											</div><br>
											<div id="revision" class="row" style="padding-left: 20px; display: none">
												<div class="col-lg-6" style="display: flex;">
													<p style="margin-left: 15px; margin-right: 30px; margin-top: 10px; color: #828282">PRICE</p>
													<select class="form-control bnmx" style="width: 100px">
														<option>5$</option>
														<option>10$</option>
														<option>15$</option>
														<option>20$</option>
														<option>25$</option>
														<option>30$</option>
														<option>35$</option>
														<option>40$</option>
														<option>45$</option>
														<option>50$</option>
														<option>55$</option>
														<option>60$</option>
														<option>65$</option>
														<option>70$</option>
														<option>75$</option>
														<option>80$</option>
														<option>85$</option>
														<option>90$</option>
														<option>95$</option>
														<option>100$</option>
													</select>
													<!-- <input class="form-control bnmx" style="width: 100px"> -->
												</div>
												<div class="col-lg-6" style="display: flex;">
													<p style="margin-left: 15px; margin-right: 30px; margin-top: 10px; color: #828282">DAYS</p>
													<select class="form-control bnmx" style="width: 100px">
														<option>1 DAY</option>
														<option>2 DAYS</option>
														<option>3 DAYS</option>
														<option>4 DAYS</option>
														<option>5 DAYS</option>
														<option>6 DAYS</option>
														<option>7 DAYS</option>
														<option>8 DAYS</option>
														<option>9 DAYS</option>
														<option>10 DAYS</option>
														<option>11 DAYS</option>
														<option>12 DAYS</option>
														<option>13 DAYS</option>
														<option>14 DAYS</option>
														<option>15 DAYS</option>
													</select>
													<!-- <input class="form-control bnmx" style="width: 100px"> -->
												</div>
											</div>
											<div class="clear dot"></div>
											<div class="bnmx">
												<label style="cursor: pointer;">
													<input class="concept" href="javascript:" type="checkbox" />
													<span>ADDITIONAL DESIGN CONCEPT</span>
												</label>
											</div><br>
											<div id="concept" class="row" style="padding-left: 20px; display: none">
												<div class="col-lg-6" style="display: flex;">
													<p style="margin-left: 15px; margin-right: 30px; margin-top: 10px; color: #828282">PRICE</p>
													<select class="form-control bnmx" style="width: 100px">
														<option>5$</option>
														<option>10$</option>
														<option>15$</option>
														<option>20$</option>
														<option>25$</option>
														<option>30$</option>
														<option>35$</option>
														<option>40$</option>
														<option>45$</option>
														<option>50$</option>
														<option>55$</option>
														<option>60$</option>
														<option>65$</option>
														<option>70$</option>
														<option>75$</option>
														<option>80$</option>
														<option>85$</option>
														<option>90$</option>
														<option>95$</option>
														<option>100$</option>
													</select>
													<!-- <input class="form-control bnmx" style="width: 100px"> -->
												</div>
												<div class="col-lg-6" style="display: flex;">
													<p style="margin-left: 15px; margin-right: 30px; margin-top: 10px; color: #828282">DAYS</p>
													<select class="form-control bnmx" style="width: 100px">
														<option>1 DAY</option>
														<option>2 DAYS</option>
														<option>3 DAYS</option>
														<option>4 DAYS</option>
														<option>5 DAYS</option>
														<option>6 DAYS</option>
														<option>7 DAYS</option>
														<option>8 DAYS</option>
														<option>9 DAYS</option>
														<option>10 DAYS</option>
														<option>11 DAYS</option>
														<option>12 DAYS</option>
														<option>13 DAYS</option>
														<option>14 DAYS</option>
														<option>15 DAYS</option>
													</select>
													<!-- <input class="form-control bnmx" style="width: 100px"> -->
												</div>
											</div>

											<div id="add_features">
												<div class="bnmx">
													<div class="row">
														<div class="col-lg-3">
															<label style="cursor: pointer; font-size: 18px; margin-top: 10px">
																<input class="add_title" href="javascript:" type="checkbox" />
																<span style="margin-left: 15px;">Title</span>
															</label>
														</div>
														<div class="col-lg-9">
															<input type="text" class="bnmx form-control" placeholder="Features Title">
														</div>
													</div>
												</div><br>
												<div id="add_title" class="row" style="padding-left: 20px;">
													<div class="col-lg-6" style="display: flex;">
														<p style="margin-left: 8px; margin-right: 30px; margin-top: 10px; color: #828282">PRICE</p>
														<select class="form-control bnmx" style="width: 100px">
															<option>5$</option>
															<option>10$</option>
															<option>15$</option>
															<option>20$</option>
															<option>25$</option>
															<option>30$</option>
															<option>35$</option>
															<option>40$</option>
															<option>45$</option>
															<option>50$</option>
															<option>55$</option>
															<option>60$</option>
															<option>65$</option>
															<option>70$</option>
															<option>75$</option>
															<option>80$</option>
															<option>85$</option>
															<option>90$</option>
															<option>95$</option>
															<option>100$</option>
														</select>
														<!-- <input class="form-control bnmx" style="width: 100px"> -->
													</div>
													<div class="col-lg-6" style="display: flex;">
														<p style="margin-left: -8px; margin-right: 30px; margin-top: 10px; color: #828282">DAYS</p>
														<select class="form-control bnmx" style="width: 100px">
															<option>1 DAY</option>
															<option>2 DAYS</option>
															<option>3 DAYS</option>
															<option>4 DAYS</option>
															<option>5 DAYS</option>
															<option>6 DAYS</option>
															<option>7 DAYS</option>
															<option>8 DAYS</option>
															<option>9 DAYS</option>
															<option>10 DAYS</option>
															<option>11 DAYS</option>
															<option>12 DAYS</option>
															<option>13 DAYS</option>
															<option>14 DAYS</option>
															<option>15 DAYS</option>
														</select>
														<!-- <input class="form-control bnmx" style="width: 100px"> -->
													</div>
												</div>
												<div class="clear dot"></div><br>
											</div>
											
											<div class="featurebox">
		
											</div>
										</div>
										
										<div class="row" style="margin-top: 10px;">
											<div class="col-lg-6"></div>
											<div class="col-lg-6">
												<a class="plus_feature" href="javascript:" style="color: #825f98"><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD NEW FEATURES</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="packagebox">

						</div>

						<div class="row">
							<div class="col-lg-9"></div>
							<div class="col-lg-3"><a class="plus_package" href="javascript:" style="color: #825f98"><i class="fa fa-plus-circle" aria-hidden="true"></i> ADD NEW PACKAGE</a></div>
						</div>
						
						<!-- <div class="social_profile"> -->
							
						<!-- </div> -->
						<div class="next-section" style="margin-top: 150px;">
							<div class="row">
								<div class="col-lg-7"></div>
								<div class="col-lg-5">
									<div class="form-check">
										<router-link to="/add_service3" style="color:white" type="submit" class="btn btn-login float-right">SAVE & CONTINUE</router-link>
									</div>
									<router-link to="/add_service1" class="btnBk">Back</router-link>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
	},	
	mounted() {
		$(document).ready(function(){
            $(".extra_days").click(function(){
                $("#extra_days").toggle();
            });
            $(".revision").click(function(){
                $("#revision").toggle();
            });
            $(".concept").click(function(){
                $("#concept").toggle();
            });
            // $(".add_title").click(function(){
            //     $("#add_title").toggle();
            // });
            $(".plus_feature").click(function(){
                $("#add_features").clone().appendTo(".featurebox");
            });
            $(".plus_package").click(function(){
                $("#plus_package").clone().appendTo(".packagebox");
            });

            $('[data-toggle="popover"]').popover({
                placement : 'right',
                trigger : 'hover',
                html : true,
                content : '<div class="square"><div class="notification"><img src="/static/i.jpg"></div><div class="notification_title"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p><br><p>Lorem Ipsum has been the indus-trys standard dummy text ever since the 1500s,</p><br><p>when an unknown printer took a gallery of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p></div></div>'
            });
        });
	}
}
</script>
