<template>
  	<div class="main">
        <section>
	        <div class="container">
	            <div class="row">
	                <left-sidebar></left-sidebar>
                    <div class="col-lg-9 col-md-12">
                        <div class="about_intro_content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="verify">

                                        <div class="megam">
                                            

                                            <a href="" data-toggle="modal" data-target="#modalLoginForm">
                                                <figure class="snip1321" @click="openModal">
                                                    <img class="img_padding" src="../../images/twitter.jpg">
                                                    <figcaption>
                                                        <h4>Add New</h4>
                                                    </figcaption>
                                                </figure>
                                            </a>

                                            <a href="" data-toggle="modal" data-target="#modalLoginForm">
                                                <figure class="snip1321">
                                                <img class="img_padding" src="../../images/facebook.jpg">
                                                <figcaption>
                                                    <h4>Add New</h4>
                                                </figcaption>
                                                </figure>
                                            </a>

                                            <a href="" data-toggle="modal" data-target="#modalLoginForm">
                                                <figure class="snip1321">
                                                <img class="img_padding" src="../../images/youtube.jpg">
                                                <figcaption>
                                                    <h4>Add New</h4>
                                                </figcaption>
                                                </figure>
                                            </a>

                                            <a href="" data-toggle="modal" data-target="#modalLoginForm">
                                                <figure class="snip1321">
                                                <img class="img_padding" src="../../images/snapchat.jpg">
                                                <figcaption>
                                                    <h4>Add New</h4>
                                                </figcaption>
                                                </figure>
                                            </a>

                                            <a href="" data-toggle="modal" data-target="#modalLoginForm">
                                                <figure class="snip1321">
                                                <img class="img_padding" src="../../images/instagram.jpg">
                                                <figcaption>
                                                    <h4>Add New</h4>
                                                </figcaption>
                                                </figure>
                                            </a>

                                            <a href="" data-toggle="modal" data-target="#modalLoginForm">
                                                <figure class="snip1321">
                                                <img class="img_padding" src="../../images/pintrest.jpg">
                                                <figcaption>
                                                    <h4>Add New</h4>
                                                </figcaption>
                                                </figure>
                                            </a>

                                        </div>

                                        <br clear="All">

                                        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header text-left">
                                                        <h4 class="modal-title w-100 font-weight-bold">Add New Account</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-btn">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body mx-3">
                                                    
                                                        <div class="md-form mb-5">
                                                            <i class="fa fa-twitter prefix blue-text"></i>
                                                            <input type="text" id="defaultForm-email" placeholder="jems.deo" class="form-control validate">
                                                            <div id="emailInvalid" class="msg" >Name Invalid</div>
                                                        </div>
                                        
                                                        <div class="md-form mb-4">
                                                            <i class="fa fa-envelope prefix blue-text"></i>
                                                            <input type="email" id="defaultForm-pass" placeholder="Email Address" class="form-control validate">
                                                            <div id="phoneInvalid" class="msg" >Email Invalid</div>
                                                        </div>
                                        
                                                    </div>
                                                    <div class="modal-footer d-flex justify-content-center">
                                                        <a href="javascript:" id="add" class="add_now" @click="add">ADD NOW</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            
                                        <div class="text-center">
                                            
                                        </div>
                                                            
                                        <h4 class="verify_title">Verify your social accounts</h4>
                                        <p class="sub_title">Verifying your channel/account not only adds features to your brand</p>
                                    </div>
                                    <p class="account_list">Your accounts lists</p>


                                    <div id="orderTable">



                                    </div>


                                    <div class="account_section">
                                        <div class="social_sec">
                                            <img class="info_img" src="../../images/twitter_1.jpg">
                                            <div class="information">
                                                <p class="info">Jemes Deo</p>
                                                <p class="info">@jems.deo</p>
                                            </div>
                                            <a class="bmn verify_text" href="">Verify Now</a>
                                        </div>
                                    </div>

                                    <div class="separate_line"></div>
                                    <div class="account_section">
                                        <div class="social_sec">
                                            <img class="info_img" src="../../images/twitter_1.jpg">
                                            <div class="information1">
                                                <p class="info1">Jemes Deo</p>
                                                <p class="info1">@jems.deo</p>
                                                <p class="follow_info">347 followers<span class="follow">438 follow</span></p>
                                            </div>
                                            <a class="bmn edit_btn" href=""><img src="../../images/delete.jpg" /></a>
                                        </div>
                                    </div>
                                    <div class="separate_line"></div>
                                    <div class="f_sec">
                                        <div class="subline">
                                            <img class="f-img" src="../../images/facebook_1.jpg">
                                            <div class="information1">
                                                <p class="info1">Jemes Deo</p>
                                                <p class="info1">@jems.deo</p>
                                                <p class="facebook_page">2 Page</p>
                                            </div>
                                            <a class="bmn edit_btn" href=""><img src="../../images/delete.jpg" /></a>
                                        </div>
                                        <div class="sub_sec">
                                            <div class="sub_item">
                                                <img class="subimg" src="../../images/subimg.jpg">
                                                <div class="information1">
                                                    <p class="info1">Caligraphy Nepal</p>
                                                    <p class="facebook_page">34732 followers</p>
                                                </div>
                                            </div>
                                            <div class="clear dot mag50"></div>
                                        </div>
                                        <div class="sub_sec">
                                            <div class="sub_item">
                                                <img class="subimg" src="../../images/subimg.jpg">
                                                <div class="information1">
                                                    <p class="info1">Caligraphy Nepal</p>
                                                    <p class="facebook_page">34732 followers</p>
                                                </div>
                                            </div>
                                            <div class="clear dot mag50"></div>
                                        </div>
                                        <div class="sub_sec">
                                            <div class="sub_item">
                                                <img class="subimg" src="../../images/subimg.jpg">
                                                <div class="information1">
                                                    <p class="info1">Caligraphy Nepal</p>
                                                    <p class="facebook_page">34732 followers</p>
                                                </div>
                                            </div>
                                            <div class="clear dot mag50"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.About Intro Content -->
                    </div>
	            </div>
	        </div>
	    </section>
	    <!-- /.About -->

  	</div>
</template>


<script>

// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
    },
    
    methods: { 
        openModal(){
            console.log('testing');
            // $('#modalLoginForm').css("display", "block");
            // $('#modalLoginForm').toggleClass("in");
        },
        add(){
            console.log('testing');
            $(".msg").hide();
                var email = $('#defaultForm-email').val();
                var phone = $('#defaultForm-pass').val();
                
                if(email && phone){

                    var entry = `
                        <div class="account_section">
                            <div class="social_sec">
                                <img class="info_img" src="/static/twitter_1.jpg">
                                <div class="information1">
                                    <p class="info1">`+phone+`</p>
                                    <p class="info1">`+email+`</p>
                                    <p class="follow_info">347 followers<span class="follow">438 follow</span></p>
                                </div>
                                <a class="bmn edit_btn" href=""><img src="/static/delete.jpg"></a>
                            </div>
                        </div>
                        <div class="separate_line"></div>`;
                    $("#orderTable").prepend(entry);
                    $('#email').val("");
                    $('#phone').val("");
                    $('#phone').val("");
                    $("#close-btn").click();
                }else{
                    if(!email)
                        $("#emailInvalid").show();
                    if(!phone)
                        $("#phoneInvalid").show();
                }
        }
    },
	mounted() {
		// console.log("mountedmountedmounted");   
		// this.$store.dispatch('getCategoyData');
		$(document).ready(function(){

            $(".plus1").click(function(){
                $("#plus1").clone().appendTo(".megabox1");
            });

            $(".plus2").click(function(){
                $("#plus2").clone().appendTo(".megabox2");
            });

            $(".plus3").click(function(){
                $("#plus3").clone().appendTo(".megabox3");
            });

            $(".plus4").click(function(){
                $("#plus4").clone().appendTo(".megabox4");
            });
               
            var recordCount = 0;
              

        });
	},

}
	
</script>


