<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12 infopad" style="box-shadow: 1px 1px 5px 0px #e8e8e8;">
                    	<!-- About Intro Content -->
						<div class="about_intro_content">
							<div class="row">

								<div class="col-lg-3 pt30">
									<ul class="liopa pl10">
										<li><a class="vivo" data-toggle="tab" href="#menu1">Basic Info</a></li>
										<li><a class="vivo" data-toggle="tab" href="#menu2">Web & Social Link</a></li>
										<li><a class="vivo" data-toggle="tab" href="#menu3">Category / Services area</a></li>
										<li><a class="vivo" data-toggle="tab" href="#menu4">Details About You</a></li>
									</ul>
								</div>

								<div class="col-lg-8 darko tab-content">

									<div id="menu1" class="tab-pane fade in active">

										<div class="boxo1">
											<p class="bnm">Account</p>
											<a class="bmn click1" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>

											<div class="ed1">

												<p class="bnmx">Full Name</p>
												<div class="clear dot"></div>

												<p class="bnmx">@Jems Deo</p>
												<div class="clear dot"></div>

												<p class="bnmx">******</p>
												<div class="clear dot"></div>

											</div>

											<div class="ed2" style="display: none;">

												<p class="bnmx">Full Name</p>
												<div class="clear dot"></div>

												<input type="text" class="bnmx form-control" name="" value="@Jems Deo">
												<div class="clear dot"></div>

												<input type="password" class="bnmx form-control" name="" value="159753">
												<div class="clear dot"></div>

												<div class="ritht">
													<button class="byi2">Cancel</button>
													<button class="byi1">Save</button>
												</div>

												<div class="clear"></div>

											</div>

										</div>

										<div class="boxo1">
											<p class="bnm">Location</p>
											<a class="bmn click2" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>

											<div class="ed3" style="display: none;">

												<input type="text" class="bnmx form-control" name="" value="City">
												<div class="clear dot"></div>

												<input type="text" class="bnmx form-control" name="" value="Country">
												<div class="clear dot"></div>

												<div class="ritht">
													<button class="byi2">Cancel</button>
													<button class="byi1">Save</button>
												</div>

												<div class="clear"></div>

											</div>

											<div class="ed4">

												<p class="bnmx">City</p>
												<div class="clear dot"></div>

												<p class="bnmx">Country</p>
												<div class="clear dot"></div>

											</div>

										</div>

										<div class="boxo2">
											<p class="bnm">Contact</p>
											<a class="bmn click4" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>

											<div class="ed7" style="display: none;">

												<input type="text" class="bnmx hyu1 form-control" name="" value="Nepal (+977 )">
												<input type="text" class="bnmx hyu2 form-control" name="" value=" 9854201232">
												<div class="clear"></div>

												<input type="text" class="bnmx hyu1 form-control" name="" value="Nepal (+977 )">
												<input type="text" class="bnmx hyu2 form-control" name="" value=" 4484599">
												<div class="clear"></div>

												<input type="text" class="bnmx form-control" id="plus1" name="" value="jems.deo@gmail.com">
												
												<div class="megabox1">

												</div>

												<a href="javascript:" class="opoi plus1"><img src="../../images/plus.jpg" /></a>
												<div class="clear"></div>

												<div class="ritht">
													<button class="byi2">Cancel</button>
													<button class="byi1">Save</button>
												</div>

												<div class="clear"></div>

											</div>

											<div class="ed8">

												<p class="bnmx">&nbsp Nepal (+977 ) &nbsp &nbsp &nbsp 9854201232</p>
												<div class="clear"></div>

												<p class="bnmx">&nbsp Nepal (+977 ) &nbsp &nbsp &nbsp 01 4484599</p>
												<div class="clear"></div>

												<p class="bnmx">jems.deo@gmail.com</p>
												<div class="clear"></div>

											</div>

										</div>

										<div class="boxo2">

											<p class="bnm">Languages</p>
											<a class="bmn click3" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>

											<div class="ed5" style="display: none;">

												<input type="text" class="bnmx form-control" name="" value="English">
												<div class="clear dot"></div>

												<input type="text" class="bnmx form-control" id="plus2" name="" value="Nepali">
												
												<div class="megabox2">

												</div>

												<a href="javascript:" class="opoi plus2"><img src="../../images/plus.jpg" /></a>
												<div class="clear"></div>

												<div class="ritht">
													<button class="byi2">Cancel</button>
													<button class="byi1">Save</button>
												</div>

												<div class="clear"></div>

											</div>

											<div class="ed6">

												<p class="bnmx">English</p>
												<div class="clear dot"></div>

												<p class="bnmx">Nepali</p>
												<div class="clear dot"></div>

											</div>

										</div>

									</div>

									<div id="menu2" class="tab-pane fade">

										<div class="boxo1">
											<p class="bnm">Social Profile Links</p>
											<a class="bmn click6" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>
											
											<div class="ed11" style="display: none;">

												<input type="text" class="bnmx hyu1 form-control" name="" value="Facebook">
												<input type="text" class="bnmx hyu2 form-control" name="" value="/jems.deo">
												<div class="clear"></div>

												<input type="text" class="bnmx hyu1 form-control" name="" value="Twitter">
												<input type="text" class="bnmx hyu2 form-control" name="" value="/jems.deo">
												<div class="clear"></div>

												<div id="plus3">
													<input type="text" class="bnmx hyu1 form-control" name="" value="Instagram">
													<input type="text" class="bnmx hyu2 form-control" name="" value="/jems.deo">
												</div>

												<div class="megabox3">

												</div>

												<a href="javascript:" class="opoia plus3"><img src="../../images/plus.jpg" /></a>
												<div class="clear"></div>

												<div class="ritht">
													<button class="byi2">Cancel</button>
													<button class="byi1">Save</button>
												</div>

												<div class="clear"></div>

											</div>

											<div class="ed12">

												<div class="clear50"></div>
												<a class="socialicon" href="#"><img src="../../images/btn1.jpg" /></a>
												<a class="socialicon" href="#"><img src="../../images/btn2.jpg" /></a>
												<a class="socialicon" href="#"><img src="../../images/btn3.jpg" /></a>
												<a class="socialicon" href="#"><img src="../../images/btn4.jpg" /></a>

											</div>

										</div>

										<div class="boxo2">
											<p class="bnm">Web & Blogs</p>
											<a class="bmn click5" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>
											<div class="clear50"></div>                                       

											<div class="ed9" style="display: none;">

												<input type="text" class="bnmx form-control" name="" value="www.jemsdeo.com">
												<div class="clear"></div>

												<input type="text" class="bnmx bikas form-control" id="plus4" name="" value="www.jemsdeo.medium.com">
												<div class="megabox4">

												</div>
												<a href="javascript:" class="opoi plus4"><img src="../../images/plus.jpg" /></a>
												<div class="clear"></div>

											</div>

											<div class="ed10">

												<p class="bnmx">www.jemsdeo.com</p>
												<div class="clear"></div>

												<p class="bnmx">www.jemsdeo.medium.com</p>
												<div class="clear"></div>

											</div>

										</div>

									</div>

									<div id="menu3" class="tab-pane fade">

										<div class="boxo1">
											<p class="bnm">CATEGORY</p>
											<a class="bmn click8" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>
											<div class="clear50"></div>

											<div class="container pzero ed15" style="display: none;">
												<div class="row">

													<div class="col-lg-6">
														<select class="form-control bnmx">
															<option>Select your Category</option>
														</select>
													</div>

													<div class="col-lg-6">
														<select class="form-control bnmx">
															<option>Select Sub Category</option>
														</select>
													</div>

												</div>
											</div>

											<div class="pzero ed16">
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
											</div>

											<div class="pzero ed16">
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
											</div>

											<div class="clear"></div>

										</div>

										<div class="boxo1">
											<p class="bnm">SERVICES AREA</p>
											<a class="bmn click9" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>
											<div class="clear50"></div>

											<div class="container pzero ed17" style="display: none;">
												<div class="row">

													<div class="col-lg-12">
														<select class="form-control bnmx">
															<option>Add your services here (*note: Tag List Features) </option>
														</select>
													</div>

												</div>
											</div>

											<div class="pzero ed18">
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
											</div>

											<div class="pzero ed18">
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
												<a href="#" class="linkbtnz">MARKETING x</a>
											</div>

											<div class="clear"></div>

										</div>

									</div>

									<div id="menu4" class="tab-pane fade">

										<div class="boxo1">
											<p class="bnm">About you</p>
											<a class="bmn click7" href="javascript:"><img src="../../images/iolo.png" /></a>
											<div class="clear dot"></div>

											<div class="ed13" style="display: none;">

												<textarea class="form-control textr" rows="10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</textarea>
												<button class="byi1">Save</button>
												<button class="byi2">Cancel</button>

											</div>

											<div class="ed14">

												<p class="bnmx">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
												<div class="clear"></div>

											</div>

										</div>

									</div>

								</div>

							</div>
						</div>
						<!-- /.About Intro Content -->
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar_com from './leftSidebar_com.vue';
export default {
    components:{
        'left-sidebar':leftSidebar_com
	},	
	mounted() {
		$(document).ready(function(){
            
            $(".click1").click(function(){
                $(".ed1").toggle();
                $(".ed2").toggle();
            });
            
            $(".click2").click(function(){
                $(".ed3").toggle();
                $(".ed4").toggle();
            });
           
            $(".click3").click(function(){
                $(".ed5").toggle();
                $(".ed6").toggle();
            });
             
            $(".click4").click(function(){
                $(".ed7").toggle();
                $(".ed8").toggle();
            });
              
            $(".click5").click(function(){
                $(".ed9").toggle();
                $(".ed10").toggle();
            });
            
            $(".click6").click(function(){
                $(".ed11").toggle();
                $(".ed12").toggle();
            });
             
            $(".click7").click(function(){
                $(".ed13").toggle();
                $(".ed14").toggle();
            });

            $(".click8").click(function(){
                $(".ed15").toggle();
                $(".ed16").toggle();
            });

            $(".click9").click(function(){
                $(".ed17").toggle();
                $(".ed18").toggle();
            });

            $(".plus1").click(function(){
            $("#plus1").clone().appendTo(".megabox1");
            });

            $(".plus2").click(function(){
            $("#plus2").clone().appendTo(".megabox2");
            });

            $(".plus3").click(function(){
            $("#plus3").clone().appendTo(".megabox3");
            });

            $(".plus4").click(function(){
            $("#plus4").clone().appendTo(".megabox4");
            });
               

        });
	}
}
</script>
