<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12 infopad" style="box-shadow: 1px 1px 5px 0px #e8e8e8;">
						<ul class="service_tab">
							<li><a class=""  href="#">ORDER DETAILS</a><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 29px"></i></li>
							<li><a class=""  href="buy_services-2.html">REVIEW & PAY</a><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><a class=""  href="buy_services-3.html">SUBMIT REQUIREMENTS & START ORDER</a></li>
						</ul>
						<div class="clear" style="height: 40px; background: white;"></div>
						<div class="order_section">
							<div class="row">
								<div class="col-lg-6">
									<div class="service_info" style="display: flex;">
										<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
										<div class="col-lg-7" style="padding: 0; padding-left: 10px">
											<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Facebook Posts Lorem ipsum dolor sit oi klas aliseko amet, consectetur adipisicing</h6>
										</div>
									</div>
									<div class="extra_features">
										<h5 class="extra_title">Extra Features</h5>
										<div class="bnmx">
											<label style="cursor: pointer;">
												<input class="revision" href="javascript:" type="checkbox">
												<span>Extra Fast 1 Day Delivery</span>
											</label>
											<p style="float: right;">$5</p>
										</div>
										<div class="bnmx">
											<label style="cursor: pointer;">
												<input class="revision" href="javascript:" type="checkbox">
												<span>Influencer Report</span>
											</label>
											<p style="float: right;">$15</p>
										</div>
										<div class="bnmx">
											<label style="cursor: pointer;">
												<input class="revision" href="javascript:" type="checkbox">
												<span>City Based Research (+1 Day)</span>
											</label>
											<p style="float: right;">$25</p>
										</div>
										<div class="bnmx">
											<label style="cursor: pointer;">
												<input class="revision" href="javascript:" type="checkbox">
												<span>Contact Info</span>
											</label>
											<p style="float: right;">$15</p>
										</div>
										<div class="bnmx">
											<label style="cursor: pointer;">
												<input class="revision" href="javascript:" type="checkbox">
												<span>More Influencers</span>
											</label>
											<p style="float: right;">$5</p>
										</div>
									</div>
								</div>
								<div class="col-lg-6">
									<h5 class="summary_title">Summary</h5>
									<div class="bnmx">
										<span>Subtotal</span>
										<p style="float: right; margin-bottom: 0">$45</p>
									</div>
									<div class="clear"></div>
									<div class="bnmx b_line">
										<span>Service Charge</span>
										<p style="float: right; margin-bottom: 0">$5</p>
									</div>
									<div class="bnmx">
										<span style="font-weight: 500; color: #333333">Total Amount</span>
										<p style="float: right; margin-bottom: 0; font-weight: 500; color: #333333">$50</p>
									</div>
								</div>
							</div>
							<div class="clear pt30"></div>
							<div class="row">
								<div class="col-lg-7"></div>
								<div class="col-lg-5">
									<div class="form-check">
										<a style="color:white" href="/buy_service2" type="submit" class="btn btn-login float-right">ORDER</a>
									</div>
								</div>
							</div>
						</div>
						
						<!-- /.About Intro Content -->
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar_com from './leftSidebar_com.vue';
export default {
    components:{
        'left-sidebar':leftSidebar_com
	},	
	mounted() {
		
	}
}
</script>
