<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12 infopad" style="box-shadow: 1px 1px 5px 0px #e8e8e8;">
						<ul class="service_tab">
							<li><a class=""  href="buy_services-1.html">ORDER DETAILS</a><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 29px"></i></li>
							<li><a class=""  href="buy_services-2.html">REVIEW & PAY</a><i class="fa fa-angle-right" aria-hidden="true" style="margin-left: 40px"></i></li>
							<li><a class=""  href="#">SUBMIT REQUIREMENTS & START ORDER</a></li>
						</ul>
						<div class="clear" style="height: 40px; background: white;"></div>
						<div class="order_section">
							<div class="row">
								<div class="col-lg-7">
									<h5 class="submit_title">SUBMIT REQUIREMENTS TO START ORDER</h5>
									<p class="under_title">The Influencer needs the following information to start working on your order service.</p>
									<div class="clear"></div>
									<div class="category_section">
										<h5 class="submit_title">Select industry category does this order relate to?</h5>
										<select class="form-control bnmx order_relate">
											<option>Fashion/Beauty</option>
										</select>
										<h5 class="submit_title pt30">Please send your content (text, photo or video) for start?</h5>
										<textarea class="bnmx form-control" name="" id="" cols="30" rows="10"></textarea>
										<div>
											<input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple>
										</div>
									</div>
								</div>
								<div class="col-lg-5">
									<div class="service_info" style="display: flex;">
										<img src="../../images/facebook_buy.jpg" class="col-lg-5" style="padding: 0">
										<div class="col-lg-6" style="padding: 0; padding-left: 10px">
											<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Facebook Posts Lorem ipsum dolor sit oi klas aliseko amet, consectetur adipisicing</h6>
										</div>
									</div>
									<div class="clear pt30"></div>
									<div style="box-shadow: 1px 1px 5px 0px #e8e8e8;">
										<div class="summary_section">
											<h5 class="summary_title">Summary</h5>
											<div class="bnmx">
												<span>Order No</span>
												<p style="float: right; margin-bottom: 0; font-weight: 500; color: #333333">#2018SEX48</p>
											</div>
											<div class="clear"></div>
											<div class="bnmx">
												<span>Order Date</span>
												<p style="float: right; margin-bottom: 0; font-weight: 500; color: #333333">June 25, 2018</p>
											</div>
											<div class="bnmx b_line">
												<span>Payment Method</span>
												<p style="float: right; margin-bottom: 0; font-weight: 500; color: #333333">Credit Card</p>
											</div>
											<div class="bnmx">
												<span style="font-weight: 500; color: #333333">Total Amount</span>
												<p style="float: right; margin-bottom: 0; font-weight: 500; color: #333333">$50</p>
											</div>
										</div>
										<div class="summary_section_1">
											<div class="bnmx">
												<span>Status</span>
												<p style="float: right; margin-bottom: 0; font-weight: 500; color: #fea621">INCOMPLETE</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clear pt30"></div>
							<div class="row">
								<div class="col-lg-7">
									<div class="pt30">
										<div class="row">
											<div class="col-lg-1">
												<i class="fa fa-check-square-o" aria-hidden="true"></i>
											</div>
											<div class="col-lg-11">
												<p>
													The information i provided is accurate and complete. Any changes will require the seller's approval, and may be subject to additional costs.
												</p>
											</div>
										</div>
										
									</div>
								</div>
								<div class="col-lg-5">
									<div class="form-check">
										<a style="color:white" href="" type="submit" class="btn btn-login float-right">CONTINUE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar_com from './leftSidebar_com.vue';
export default {
    components:{
        'left-sidebar':leftSidebar_com
	},	
	mounted() {
		
	}
}
</script>
