<template>
    <div>
        <footer id="contact">
	        <div class="container">
	            <div class="row ghat">
	                <div class="col-lg-7">
	                    <p class="mkl">All of your influencer marketing campaigns under one roof & managed by you! Start today.</p>
	                </div>
	                <div class="col-lg-5">
	                    <ul class="potas">
	                        <li><a href="#">FOR INFLUENCERS</a></li>
	                        <li><a class="pas" href="#">FOR BRANDS</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	        <div class="container">
	            <div class="row">

	                <!-- Footer Column 01 -->
	                <div class="col-lg-3">
	                    <img class="ikoa" src="../../images/logofooter.png" />
	                </div>
	                <!-- /.Footer Column 01 -->
	                <!-- Footer Column 02 -->
	                <div class="col-lg-3">
	                    <h3>Quick Links</h3>
	                    <ul class="list-unstyled">
	                        <li>Influencer</li>
	                        <li>Marketer </li>
	                        <li>Projects</li>
	                        <li>Blog</li>
	                    </ul>
	                </div>
	                <!-- /.Footer Column 02 -->
	                <!-- Footer Column 03 -->
	                <div class="col-lg-3">
	                    <h3>About</h3>
	                    <ul class="list-unstyled">
	                        <li>Company</li>
	                        <li>Careers</li>
	                        <li>Customers</li>
	                        <li>Partners</li>
	                        <li>Press</li>
	                    </ul>
	                </div>
	                <!-- /.Footer Column 03 -->
	                <!-- Footer Column 04 -->
	                <div class="col-lg-3">
	                    <h3>Contact us</h3>
	                    <ul class="list-inline">
	                        <li>Mid Baneshwor
	                            <br> Kathmandu, Nepal
	                            <br> info@hireinfluencer.com
	                            <br> +977 01 44221133
	                        </li>
	                    </ul>
	                </div>
	                <!-- /.Footer Column 04 -->
	                <p class="potla">CONNECT<img class="social" src="../../images/footericon.png" /></p>
	            </div>
	        </div>
	    </footer>
        <div class="bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-7 clasklop">
                        <a href="#">Press</a>
                        <a href="#">Help</a>
                        <a href="#">Support</a>
                        <a href="#">Terms of Use</a>
                        <a href="#">Privacy</a>
                        <a href="#">Licenses</a>
                    </div>
                    <div class="col-lg-5">
                        <p class="moga">© 2018 Hireinfluencer. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                
            }
        }
    }
</script>

