<template>
    <nav id="main_nav" class="navbar navbar-light fixed-top navbar-expand-lg">
        <div class="container">
            <router-link class="navbar-brand" to="/"><img src="../../images/logo.png" alt="Hireinfluencer Logo" /></router-link>
            <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item width-250">
                        <div class="input-group keia">
                            <input type="text" class="form-control mosa" placeholder="Search influencers |">
                            <span class="input-group-btn">
                           <button class="btn btn-search" type="button"><img src="../../images/search.png"/></button>
                        </span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" v-scroll-to="'#about'">PRODUCT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#speakers"> INFLUENCERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#schedule"> BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" v-scroll-to="'#contact'">RESOURCES</a>
                    </li>
                    <li class="nav-item">
                        <ul class="molio">
                            <li>
                                <a href="#"><img src="../../images/icon1.png" /><span class="kalikada">14</span></a>
                            </li>
                            <li>
                                <a href="#"><img src="../../images/icon2.png" /><span class="umadi">10</span></a>
                            </li>
                            <li>
                                <a href="#"><img src="../../images/icon3.png" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="../../images/dp.png" /></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    $(document).ready(function() {
        $(".mobile-menu-btn").click(function(){
            $(".mobile-menu-btn").toggleClass("hidden");
            $(".mobile-menu").toggleClass("hidden");
            $("body").toggleClass("fixed-screen");
        });
    });
    export default {
        data(){
            return{
                navs: [
                        { title:'HJEM', url: '/'},
                        { title:'MERKER', url: '/brand'},
                        { title:'CAMPINGVOGN', url: '/caravan'},
                        { title:'BOBIL', url: '/RV'},
                        { title:'FINANSIERING', url: '/'},
                        { title:'OM OSS', url: '/about'},
                        { title:'KUNDESERVICE', url: '/'}
                    ],
                info:['Verkstedgodkjent', 'Opptil 5 årsgaranti ', 'Nye og brukte enehter', 'Gode finansieringsmuligheter ', 'Vi er her etter handelen']
            }
        },

        methods: {
            toStep2(){
                this.$router.push({path :'/step2'});
            }
        }


    }
</script>

<style scoped>    
    #main_nav .nav-link {    
        cursor: pointer;
    }
    .navbar {
        border-radius: 0;
    }
    .width-250{
        width:250px;
    }
</style>


