<template>
	 <div class="col-lg-3 col-md-12 infopad">
		<!-- About Intro Content -->
		<div class="about_intro_content">
			<div class="row">
				<div class="col-lg-12">
						<div class="bgboom_1"><img src="../../images/dpbig.png" /></div>
						<div class="clear100"></div>
						<p class="bhg">COMPANY NAME</p>
						<p class="tcenter"><img src="../../images/star.png" /></p>
						<div class="ssas"></div>
						<ul class="jiyo">
							<li>
								<router-link to="/"><i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</router-link>
							</li>
							<li>
								<router-link to="/"><i class="fa fa-th-large" aria-hidden="true"></i>Order </router-link>
							</li>
							<li>
								<router-link to="/"><i class="fa fa-rocket" aria-hidden="true"></i>Campaingns</router-link>
							</li>
							<li>
								<router-link to="/"><i class="fa fa-users" aria-hidden="true"></i>Incluencers</router-link>
							</li>
							<li>
								<router-link to="/"><i class="fa fa-bullseye" aria-hidden="true"></i>Profile </router-link>
							</li>
							<li>
								<router-link to="/"><i class="fa fa-id-card-o" aria-hidden="true"></i>Payments</router-link>
							</li>
							<li>
								<router-link to="/"><i class="fa fa-cog" aria-hidden="true"></i>Setting</router-link>
							</li>
						</ul>
						<div class="clear50"></div>
						<p class="lopo">SERVICES AREA</p>
						<a href="#" class="linkbtn">Facebook</a>
						<a href="#" class="linkbtn">Facebook</a>
						<a href="#" class="linkbtn">Facebook</a>
						<a href="#" class="linkbtn">Facebook</a>
						<div class="clear50"></div>
						<div class="clear50"></div>
						<p class="lopo">ABOUT COMPANY</p>
						<p class="polo">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
					</div>
			</div>
		</div>
		<!-- /.About Intro Content -->
	</div>
</template>

<script>
// import headerCommon from './headerCommon'
// import footerCommon from './footerCommon'
// import {mapGetters} from 'vuex';
export default {
		
    data(){
        return{	
        }
	},
	mounted() {
		// console.log("mountedmountedmounted");   
		// this.$store.dispatch('getCategoyData');
	},

}
	
</script>

<style scoped>
	.profile-name{
		font-size: 16px;
    	padding-bottom: 10px;
	}
</style>
