<template>
    <div>
      	<nav id="main_nav" class="navbar navbar-light fixed-top navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="../../images/logo.png" alt="Hireinfluencer Logo" /></a>
            </div>
        </nav>
        <!-- /.Navigation -->

        <div class="spacer1"></div>

        <!-- About -->
        <section class="container-fluid">
            <div class="row">

                <div class="col-md-7 banner-sec">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                        <div class="banner-text">
                            <h2>INFLUENCER Platform</h2>
                            <p>A one-stop destination for all content, blogger, influencer & social events.
                                <br> Join Hireinfluencer now !</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-5 login-sec">
                    <h2 class="uyim">WELCOME</h2>
                    <p>Scrunch is the smarter way to manage your influencer
                        <br> marketing. Get your campaign live and start inviting
                        <br></p>
                    <form class="login-form">
                        <div class="form-group">
                            <input type="text" class="form-control hyt" placeholder="User name or Email Address">
                            <img src="../../images/tikk.jpg" class="tikka">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" value="12345678">
                            <img src="../../images/tikk.jpg" class="tikka">
                        </div>

                        <div class="form-check">
                            <a style="color:white" href="#" type="submit" class="btn btn-login float-right">Sign in</a>
                        </div>
                        <br clear="all">

                    </form>
                </div>
            </div>
        </section>
    </div>
</template>


<script>

// import {mapGetters} from 'vuex';
// import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        // 'left-sidebar':leftSidebar
    },
    data(){
        return{
            icon: require("../../images/twitter_1.jpg"),
            del_icon: require("../../images/delete.jpg")
        }
	},
	mounted() {
		// console.log("mountedmountedmounted");   
		// this.$store.dispatch('getCategoyData');
		
	},

}
	
</script>


