<template>
  	<div>
        <section class="main">
	        <div class="container">
	            <div class="row">
	                <left-sidebar></left-sidebar>
                    <div class="col-lg-9 col-md-12 infopad" style="box-shadow: 1px 1px 5px 0px #e8e8e8;">
                        <div class="service_section_1">
                            <div class="add_sec">
                                <h5 class="info1" style="color:#333333">Create Your Social Service</h5>
                                <p class="info2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="clear"></div>
                            <div class="status_section_1">
                                <ul class="status_tab">
                                    <li class="active"><a class="vivo1" data-toggle="tab" href="#menu1">Project</a></li>
                                    <li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu2">Services Buy</a></li>
                                    <li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu3">Assign Project</a></li>
                                    <li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu3">Complete Project</a></li>
                                    <li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu3">Rejected Project</a></li>
                                </ul>
                                <a class="bmn more_btn filter_click" href="javascript:" style="margin-top: -2px"><img src="../../images/more.jpg" /></a>
                            </div>
                            <div class="clear" style="margin-top: 20px;"></div>

                            <div class="filter_section">
                                <div class="filter" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Select Social Platform</option>
                                            </select>
                                        </div>
                                
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Category</option>
                                            </select>
                                        </div>
                                
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Sub Category</option>
                                            </select>
                                        </div>
                                
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Short by</option>
                                            </select>
                                        </div>
                    
                                        <div class="col-lg-3" style="display: flex;">
                                            <p style="margin-left: 15px; margin-right: 30px; margin-top: 10px;">Date</p>
                                            <input class="form-control bnmx" style="width: 100px" value="2018-02-25">
                                            
                                        </div>
                    
                                        <div class="col-lg-3" style="display: flex;">
                                            <p style="margin-left: 5px; margin-right: 20px; margin-top: 10px;">To</p>
                                            <input class="form-control bnmx" style="width: 100px" value="2018-02-25">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content" style="margin-top: 10px">
                                <div id="menu1" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                            <div class="project_running">
                                                <div class="row">
                                                    <div class="col-lg-4 mb3"><p>30</p></div>
                                                    <div class="col-lg-8 mb9"><p>Project Running</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="project_running">
                                                <div class="row">
                                                    <div class="col-lg-4 mb3"><p>12</p></div>
                                                    <div class="col-lg-8 mb9"><p>Brand Assign</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="project_running">
                                                <div class="row">
                                                    <div class="col-lg-4 mb3"><p>60</p></div>
                                                    <div class="col-lg-8 mb9"><p>Project Complete</p></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="project_running">
                                                <div class="row">
                                                    <div class="col-lg-4 mb3"><p>05</p></div>
                                                    <div class="col-lg-8 mb9"><p>Project Cancel</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear" style="margin-top: 70px"></div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h5 class="info1" style="color:#333333">Servicer Buy List</h5>
                                            <p class="info2">Lorem Ipsum is simply dummy text of the printing and types</p>
                                            <div class="dummy_section mt30">
                                                <div class="row social_sec">
                                                    <img class="col-lg-4 col-md-4 col-sm-4 info_img" src="../../images/dummy.jpg">
                                                    <div class="col-lg-7 col-md-6 col-sm-6">
                                                        <p class="dummy_text">Lorem Ipsum is simply dummy</p>
                                                        <p class="dummy_text">Lorem Ipsum is simply dummy text text</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="f_title">facebook</span></a>
                                                    </div>
                                                    <a class="col-lg-1 col-md-2 col-sm-2 bmn threedot_btn dot_click16" href="javascript:"><img src="../../images/three_dot.jpg"></a>
                                                    <ul class="bmn edit_dots16" style="display: none">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Revoke assign</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="dummy_section mt30">
                                                <div class="row social_sec">
                                                    <img class="col-lg-4 col-md-4 col-sm-4 info_img" src="../../images/dummy.jpg">
                                                    <div class="col-lg-7 col-md-6 col-sm-6">
                                                        <p class="dummy_text">Lorem Ipsum is simply dummy</p>
                                                        <p class="dummy_text">Lorem Ipsum is simply dummy text text</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </div>
                                                    <a class="col-lg-1 col-md-2 col-sm-2 bmn threedot_btn dot_click14" href="javascript:"><img src="../../images/three_dot.jpg"></a>
                                                    <ul class="bmn edit_dots14" style="display: none">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Revoke assign</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="dummy_section mt30">
                                                <div class="row social_sec">
                                                    <img class="col-lg-4 col-md-4 col-sm-4 info_img" src="../../images/dummy.jpg">
                                                    <div class="col-lg-7 col-md-6 col-sm-6">
                                                        <p class="dummy_text">Lorem Ipsum is simply dummy</p>
                                                        <p class="dummy_text">Lorem Ipsum is simply dummy text text</p>
                                                        <a class="follow_info1" href=""><img src="../../images/f_icon.jpg"><span class="f_title">Blog/website</span></a>
                                                    </div>
                                                    <a class="col-lg-1 col-md-2 col-sm-2 bmn threedot_btn dot_click15" href="javascript:"><img src="../../images/three_dot.jpg"></a>
                                                    <ul class="bmn edit_dots15" style="display: none">
                                                        <li><a href="">Delete</a></li>
                                                        <li><a href="">Revoke assign</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <h5 class="info1" style="color:#333333">Brand Assigned List</h5>
                                            <p class="info2">Lorem Ipsum is simply dummy text of the printing and types</p>
                                            <div class="t_section-1 mt30">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-10 col-sm-10 products viewprofile" href="javascript:">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                        <div class="btn_section_1">
                                                            <button class="accept_btn">Accept</button>
                                                            <button class="review_btn">Review</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                        <div class="information_4">
                                                            <a class="bmn edit_btn_1 dot_click2" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                            <ul class="bmn edit_dots2" style="display: none">
                                                                <li><a href="">Delete</a></li>
                                                                <li><a href="">Revoke assign</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="t_section-1 mt30">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-10 col-sm-10 products viewprofile" href="javascript:">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                        <div class="information_4">
                                                            <a class="bmn edit_btn_1 dot_click3" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                            <ul class="bmn edit_dots3" style="display: none">
                                                                <li><a href="">Delete</a></li>
                                                                <li><a href="">Revoke assign</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="t_section-1 mt30">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-10 col-sm-10 products viewprofile" href="javascript:">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                        <div class="information_4">
                                                            <a class="bmn edit_btn_1 dot_click4" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                            <ul class="bmn edit_dots4" style="display: none">
                                                                <li><a href="">Delete</a></li>
                                                                <li><a href="">Revoke assign</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="t_section-1 mt30">
                                                <div class="row">
                                                    <div class="col-lg-10 col-md-10 col-sm-10 products viewprofile" href="javascript:">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1">
                                                        <div class="information_4">
                                                            <a class="bmn edit_btn_1 dot_click5" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                            <ul class="bmn edit_dots5" style="display: none">
                                                                <li><a href="">Delete</a></li>
                                                                <li><a href="">Revoke assign</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade in">
                                    <div class="clear" style="margin-top: 20px;"></div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                            <div class="row t_box">
                                                <div class="col-lg-11 col-md-11 col-sm-11 products viewprofile" href="javascript:">
                                                    <router-link to="/my_projects_detail" class="t_section mt30">
                                                        <p>Product or Campaign name Lorem ipsum dolor sit amet, consectetur</p>
                                                        <a class="follow_info1" href=""><i class="fa fa-twitter f_twitter" aria-hidden="true"></i><span class="f_title" style="color: #09bcf0">twitter</span></a>
                                                    </router-link>
                                                </div>
                                                <div class="col-lg-1 col-md-1 col-sm-1">
                                                    <div class="information_5">
                                                        <a class="bmn edit_btn_1 dot_click6" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
                                                        <ul class="bmn edit_dots6" style="display: none">
                                                            <li><a href="">Delete</a></li>
                                                            <li><a href="">Revoke assign</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clear mt30"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.About Intro Content -->
                    </div>
	            </div>
	        </div>
	    </section>
	    <!-- /.About -->
  	</div>
</template>


<script>

// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
		components:{
         'left-sidebar':leftSidebar
    },
    data(){
        return{	
        }
	},
	mounted() {
		$(document).ready(function(){
            $(".filter_click").click(function(){
                $(".filter").toggle();
            });
            $(".dot_click2").click(function(){
                $(".edit_dots2").toggle();
            });
            $(".dot_click3").click(function(){
                $(".edit_dots3").toggle();
            });
            $(".dot_click4").click(function(){
                $(".edit_dots4").toggle();
            });
            $(".dot_click5").click(function(){
                $(".edit_dots5").toggle();
            });
            $(".dot_click6").click(function(){
                $(".edit_dots6").toggle();
            });
            $(".dot_click7").click(function(){
                $(".edit_dots7").toggle();
            });
            $(".dot_click8").click(function(){
                $(".edit_dots8").toggle();
            });
            $(".dot_click9").click(function(){
                $(".edit_dots9").toggle();
            });
            $(".dot_click10").click(function(){
                $(".edit_dots10").toggle();
            });
            $(".dot_click11").click(function(){
                $(".edit_dots11").toggle();
            });
            $(".dot_click12").click(function(){
                $(".edit_dots12").toggle();
            });
            $(".dot_click13").click(function(){
                $(".edit_dots13").toggle();
            });
            $(".dot_click14").click(function(){
                $(".edit_dots14").toggle();
            });
            $(".dot_click15").click(function(){
                $(".edit_dots15").toggle();
            });
            $(".dot_click16").click(function(){
                $(".edit_dots16").toggle();
            });
        });
	},

}
	
</script>


