<template>
  	<div>
        <section class="main">
	        <div class="container">
	            <div class="row">
	                <left-sidebar></left-sidebar>
                    <div class="col-lg-9 col-md-12 infopad" style="box-shadow: 1px 1px 5px 0px #e8e8e8;">
                        <div class="service_section_1">
                            <div class="add_sec">
                                <h5 class="info1" style="color:#333333">Create Your Social Service</h5>
                                <p class="info2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="clear"></div>
                            <div class="status_section_1">
                                <ul class="status_tab">
                                    <li><router-link to="/my_projects" class="vivo1">Project</router-link>
                                    <li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu2">Services Buy</a></li>
                                    <li class="active" style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu3">Assign Project</a></li>
                                    <li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu3">Complete Project</a></li>
                                    <li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu3">Rejected Project</a></li>
                                </ul>
                                <a class="bmn more_btn filter_click" href="javascript:" style="margin-top: -2px"><img src="../../images/more.jpg" /></a>
                            </div>
                            <div class="clear" style="margin-top: 20px;"></div>

                            <div class="filter_section">
                                <div class="filter" style="display: none;">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Select Social Platform</option>
                                            </select>
                                        </div>
                                
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Category</option>
                                            </select>
                                        </div>
                                
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Sub Category</option>
                                            </select>
                                        </div>
                                
                                        <div class="col-lg-3">
                                            <select class="form-control bnmx">
                                                <option>Short by</option>
                                            </select>
                                        </div>
                    
                                        <div class="col-lg-3" style="display: flex;">
                                            <p style="margin-left: 15px; margin-right: 30px; margin-top: 10px;">Date</p>
                                            <input class="form-control bnmx" style="width: 100px" value="2018-02-25">
                                            
                                        </div>
                    
                                        <div class="col-lg-3" style="display: flex;">
                                            <p style="margin-left: 5px; margin-right: 20px; margin-top: 10px;">To</p>
                                            <input class="form-control bnmx" style="width: 100px" value="2018-02-25">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content" style="margin-top: 10px">
                                <div id="menu3" class="tab-pane fade in active">
                                    <div class="clear" style="margin-top: 20px;"></div>
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="service_info">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <img src="../../images/my_project_order__brand_.gif" />
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                                        <h4 class="assign_name">Drax Company</h4>
                                                        <div class="sl_section">
                                                            <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                                                            <p style="font-size: 13px">Fashaion, Beauty, Marketing</p>
                                                        </div>
                                                        <div class="sl_section">
                                                            <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                            <p style="font-size: 13px">Kathmandu, Nepal</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="service_info col-lg-12 col-md-12 col-sm-12">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-2">
                                                        <p class="amount">Amount</p>
                                                        <h5 class="amount_price">$50</h5>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <p class="amount_description">Lorem ipsum dolor sit amet, sonsectetur adipisicing elit, sed to eiusmod tempor incididunt ut labore et dolore magna</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                                        <button class="myend_project">END PROJECT</button>
                                                        <button class="assign_project">ASSIGN ACCEPTED</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear" style="margin-top: 20px;"></div>
                                    <div class="product_section_1">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <h5 style="color: #666666; margin-bottom: 0;">Product or campaign name</h5>
                                                <a class="follow_info1" href=""><i class="fa fa-facebook-square" aria-hidden="true"></i><span class="f_title">facebook</span></a>
                                                <p style="color: #7a7a7a; margin-top: 5px; font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tmpor incididunt ut labore et dolore magna aliqua.
                                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                                    dolor in reprehenderi.
                                                </p>
                                                <p style="color: #484747; font-weight: 600;">HashTags / Keywords</p>
                                                <p class="tags"># eiusmod # tempor # incididunt #magna #minim #veniam</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <p style="color: #484747; font-weight: 600;">Attached File</p>
                                                <a class="follow_info2" href="javascript:">
                                                    <i class="fa fa-picture-o" aria-hidden="true"></i><span class="f_title">product_images.jpg</span>
                                                </a>
                                                <a class="follow_info2" href="javascript:">
                                                    <i class="fa fa-play-circle" aria-hidden="true"></i><span class="f_title">product_Video.mp4 </span>
                                                </a>
                                                <a class="follow_info2" href="javascript:">
                                                    <i class="fa fa-file-text-o" aria-hidden="true"></i><span class="f_title">product_file.txt</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear" style="margin-top: 30px"></div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h5 style="color: #333333;">Invoice List</h5>
                                            <p style="color: #adadad; font-size: 14px;"><span style="color: #4e4e4e; font-weight: 600;">Create, view and edit your invoice here</span> Lorem Ipsum is simply dummy text of the printing and types</p>
                                        </div>
                                        <div class="col-lg-6">
                                            <button class="invoice_btn" href="javascript:">Create Invoice</button>
                                        </div>

                                        <div class="col-lg-12 invoice_section" style="display: none;">
                                            <div class="clear" style="margin-top: 30px;"></div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="upload_image">
                                                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                        <p>Upload logo here</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-3">
                                                    <p style="color: #666666;"><span style="color: #666666; font-weight: bold;">Bill From :</span> ( Username )</p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <p style="color: #666666; font-weight: bold; margin-bottom: 0">Bill From :</p>
                                                    <div class="billfrom">
                                                    <p>Durox Company</p>
                                                    <p>Kaamalpokhari-5</p>
                                                    <p>Kathmandu, Nepal</p>
                                                    </div>
                                                    <textarea class="form-control textr billfrom_box" rows="5" cols="10" style="display: none;">Durox Company Kaamalpokhari-5 Kathmandu, Nepal</textarea>
                                                    
                                                </div>
                                                <div class="col-lg-1">
                                                    <a class="edit_bill" href="javascript:"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-lg-12" style="margin-top: 30px;">
                                                    <p class="service_name">Project / Service name</p>
                                                    <input type="text" class="service_field" placeholder="Facebook Marketing Campaign">
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-lg-8" style="margin-top: 30px;">
                                                    <p class="service_name">Description</p>
                                                    <input type="text" class="description_field" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do">
                                                </div>
                                                <div class="col-lg-2" style="margin-top: 30px;">
                                                    <p class="service_name">Tax</p>
                                                    <input type="text" class="tax_field" placeholder="-">
                                                </div>
                                                <div class="col-lg-2" style="margin-top: 30px;">
                                                    <p class="service_name">Amount</p>
                                                    <input type="text" class="tax_field" placeholder="$250">
                                                </div>
                                                <a class="trash_btn" href="javascript:"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                <div class="clear"></div>
                                                <div class="col-lg-8" style="margin-top: 10px;">
                                                    <input type="text" class="description_field">
                                                </div>
                                                <div class="col-lg-2" style="margin-top: 10px;">
                                                    <input type="text" class="tax_field" placeholder="$0">
                                                </div>
                                                <div class="col-lg-2" style="margin-top: 10px;">
                                                    <input type="text" class="tax_field" placeholder="$0">
                                                </div>
                                                <a class="addplus_btn" href="javascript:"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                <div class="clear"></div>
                                                <div class="col-lg-8" style="margin-top: 10px;"></div>
                                                <div class="col-lg-2" style="margin-top: 10px;">
                                                    <input type="text" class="tax_field" placeholder="Subtotal">
                                                </div>
                                                <div class="col-lg-2" style="margin-top: 10px;">
                                                    <input type="text" class="tax_field" placeholder="$0">
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-lg-8" style="margin-top: 10px;"></div>
                                                <div class="col-lg-2" style="margin-top: 10px;">
                                                    <input type="text" class="total_field" placeholder="Total">
                                                </div>
                                                <div class="col-lg-2" style="margin-top: 10px;">
                                                    <input type="text" class="tax_field" placeholder="$0">
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-lg-8" style="margin-top: 10px;"></div>
                                                <div class="col-lg-4" style="margin-top: 10px;">
                                                    <input type="text" class="total_field" placeholder="DUE DATE              02/06/2018">
                                                </div>
                                                <div class="clear"></div>
                                                <div class="col-lg-8" style="margin-top: 60px;">
                                                    <a class="follow_info3" href="javascript:">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i><span class="delete_title">Delete Invoice</span>
                                                    </a>
                                                </div>
                                                <div class="col-lg-4" style="margin-top: 40px;">
                                                    <div><a class="c_btn" href="javascript:">Cancel</a></div>
                                                    <button class="saveinvoice_btn">Save Invoice</button>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="center_icon col-lg-1" style="margin-top: 60px;">
                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-lg-11" style="margin-top: 60px;">
                                                    <p class="demo_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed to eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                        in reprehenderit in voluptate velit esse cillurm dolore
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="margin-top: 10px;">
                                        <div class="col-lg-12">
                                            <div class="pay_section">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-12">
                                                        <p class="pay_title">Requested</p>
                                                        <h4 class="pay_h">$50</h4>
                                                        <p class="pay_title">12 Sep 2018</p>
                                                    </div>
                                                    <div class="col-lg-7 col-md-7 col-sm-12">
                                                        <p class="pay_title">Description</p>
                                                        <p class="pay_description">Product or campaign nameLorem ipsum dolor sit amet, consectetur adipisiciing elit,</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-12 pay_btn_section infopad">
                                                        <button class="pay_btn">SEND INVOICE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 13px;">
                                        <div class="col-lg-12">
                                            <div class="pay_section">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-12">
                                                        <p class="pay_title">Released</p>
                                                        <h4 class="pay_h">$30</h4>
                                                        <p class="pay_title">12 Sep 2018</p>
                                                    </div>
                                                    <div class="col-lg-7 col-md-7 col-sm-12">
                                                        <p class="pay_title">Description</p>
                                                        <p class="pay_description">Product or campaign nameLorem ipsum dolor sit amet, consectetur adipisiciing elit,</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-12 pay_btn_section infopad">
                                                        <button class="paid_btn">PAID</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 13px;">
                                        <div class="col-lg-12">
                                            <div class="pay_section">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-12">
                                                        <p class="pay_title">Requested</p>
                                                        <h4 class="pay_h">$50</h4>
                                                        <p class="pay_title">12 Sep 2018</p>
                                                    </div>
                                                    <div class="col-lg-7 col-md-7 col-sm-12">
                                                        <p class="pay_title">Description</p>
                                                        <p class="pay_description">Product or campaign nameLorem ipsum dolor sit amet, consectetur adipisiciing elit,</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-12 pay_btn_section infopad">
                                                        <button class="pay_btn">SEND INVOICE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 13px;">
                                        <div class="col-lg-12">
                                            <div class="pay_section">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-12">
                                                        <p class="pay_title">Requested</p>
                                                        <h4 class="pay_h">$50</h4>
                                                        <p class="pay_title">12 Sep 2018</p>
                                                    </div>
                                                    <div class="col-lg-7 col-md-7 col-sm-12">
                                                        <p class="pay_title">Description</p>
                                                        <p class="pay_description">Product or campaign nameLorem ipsum dolor sit amet, consectetur adipisiciing elit,</p>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-sm-12 pay_btn_section infopad">
                                                        <button class="pay_btn">SEND INVOICE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result_section">
                                        <P>Showing 0 to 4 of 10 entries</P>
                                        <a href="">Next ></a>
                                    </div>
                                    <div class="clear" style="margin-top: 40px;"></div>
                                    <div class="row">
                                        <div class="col-lg-6"></div>
                                        <div class="col-lg-6">
                                            <div class="add_sec">
                                                <h5 class="info1" style="color:#333333">Questions</h5>
                                                <p class="info2">Lorem Ipsum is simply dummy text of the printing and types</p>
                                            </div>
                                            <div class="clear border_question"></div>
                                            <div class="chatting_box">
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" class="right" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" class="right" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" class="right" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" class="right" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                                <div class="containers">
                                                    <img src="../../images/brand_photo.jpg" alt="Avatar" style="width:100%;">
                                                    <p style="color: #b8b8b8;">Lorem Ipsum is simply dummy text of the printing and types<span class="time-left">2 June 2018</span></p>
                                                </div>
                                            </div>
                                            <input type="text" class="message_field" placeholder="Type your Questions here">
                                            <a class="fly_btn" href=""><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.About Intro Content -->
                    </div>
	            </div>
	        </div>
	    </section>
	    <!-- /.About -->
  	</div>
</template>


<script>

// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
		components:{
         'left-sidebar':leftSidebar
    },
    data(){
        return{	
        }
	},
	mounted() {
		$(document).ready(function(){
            $(".filter_click").click(function(){
                $(".filter").toggle();
            });
            $(".invoice_btn").click(function(){
                $(".invoice_section").toggle();
            });
            $(".edit_bill").click(function(){
                $(".billfrom").toggle();
                $(".billfrom_box").toggle();
            });
        });
	},

}
	
</script>


