<template>
	<div class="main">
		<section id="search_brand">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div>
							<a href="" style="color: #72617d"><i class="fa fa-angle-left" aria-hidden="true"><span style="margin-left: 10px">Go back</span></i></a>
							<h6 class="brand_search">Search Infulencer</h6>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<div class="search_box">
									<div class="container-1">
										<span class="icon"><i class="fa fa-search"></i></span>
										<input type="search" id="search" placeholder="Digital Marketing" href="javascript:"/>
										<span class="divider_line">|</span>
										<span class="icon-1"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
										<span class="icon-2"><i class="fa fa-tags" aria-hidden="true"></i></span>
										<span class="icon-3"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
										<button class="searchbtn">Find Influencer</button>
									</div>
								</div>
							</div>
						</div>
						
						<div class="clear" style="padding-top: 2px;"></div>

						<div id="search_block" style="box-shadow: 1px 1px 5px 0px #e8e8e8; background: white; display: none;">
							<div class="col-lg-12">
								<div class="row">
								<div class="col-lg-3">
									<div class="platform_section">
										<h5>Select Social Platform</h5>
										<a class="socialicon_1" href="#"><img src="../../images/fbtnd.jpg"></a>
										<a class="socialicon_1" href="#"><img src="../../images/instabtn.jpg"></a>
										<a class="socialicon_1" href="#"><img src="../../images/twitterbtn.jpg"></a>
										<a class="socialicon_1" href="#"><img src="../../images/youtubebtn.jpg"></a>
										<a class="socialicon_1" href="#"><img src="../../images/snapchatbtn.jpg"></a>
										<a class="socialicon_1" href="#"><img src="../../images/weblogbtn.jpg"></a>
									</div>
								</div>
								<div class="col-lg-5">
									<div style="padding: 15px;">
										<div class="row">
											<div class="col-lg-6">
												<select class="form-control bnmx">
													<option>Category</option>
												</select>
												<h6 class="frequency">Post frequency</h6>
												<div class="bnmx_1">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Daily</span>
													</label>
												</div>
												<div class="bnmx_1">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Weekly</span>
													</label>
												</div>
												<div class="bnmx_1">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Anytime</span>
													</label>
												</div><br><br>
												<h6 class="frequency">Audience filters</h6>
												<div class="row">
													<div class="col-lg-7 infopad_right">
														<p class="audience">Audience gender</p>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>Female</span>
															</label>
														</div>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>Male</span>
															</label>
														</div>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>Other</span>
															</label>
														</div>
													</div>
													<div class="col-lg-5 infopad_right">
														<p class="audience">Audience age</p>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>18 - 24</span>
															</label>
														</div>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>25 - 35</span>
															</label>
														</div>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>36 - 46</span>
															</label>
														</div>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>45 - 55</span>
															</label>
														</div>
														<div class="bnmx_1">
															<label style="cursor: pointer;">
																<input class="revision" href="javascript:" type="checkbox">
																<span>55 - 60+</span>
															</label>
														</div>
													</div>

												</div>
											</div>
											<div class="col-lg-6">
												<select class="form-control bnmx">
													<option>Sub Category</option>
												</select>
												<h6 class="frequency">Profile Type</h6>
												<div class="bnmx_1">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Brand</span>
													</label>
												</div>
												<div class="bnmx_1">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Influencer</span>
													</label>
												</div>
												<div class="bnmx_1">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Agency</span>
													</label>
												</div><br><br><br>
												<select class="form-control bnmx">
													<option>Location</option>
												</select><br>
												<select class="form-control bnmx">
													<option>Delivery Time</option>
												</select><br>
												<select class="form-control bnmx">
													<option>Language</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4">
									<h6 class="frequency">Influencer gender</h6>
									<div class="bnmx_1">
										<label style="cursor: pointer;">
											<input class="revision" href="javascript:" type="checkbox">
											<span>Female</span>
										</label>
									</div>
									<div class="bnmx_1">
										<label style="cursor: pointer;">
											<input class="revision" href="javascript:" type="checkbox">
											<span>Male</span>
										</label>
									</div>
									<div class="bnmx_1">
										<label style="cursor: pointer;">
											<input class="revision" href="javascript:" type="checkbox">
											<span>Other</span>
										</label>
									</div><br><br><br><br><br>
									<h6 class="frequency">Budget Range</h6><br>
									<input id="ex8" data-slider-id='ex1Slider' type="range" data-slider-min="0" data-slider-max="2000" data-slider-step="1" data-slider-value="1000"
									data-slider-ticks-labels='["0", "1000K"]' min="0" max="2000"/>
									<br><br><br>
									<h6 class="frequency">Budget Range</h6><br>
									<input id="ex9" data-slider-id='ex1Slider' type="range" data-slider-min="0" data-slider-max="2000" data-slider-step="1" data-slider-value="1000"
									data-slider-ticks-labels='["0", "1000K"]' min="0" max="2000"/>
									<br><br><br>
								</div>
							</div>
							</div>
						</div>

						<div class="result_title"><h4>110 influencer found</h4></div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="row">
					<div class="col-lg-12">
						<div>
							<div class="row">
								<div class="col-lg-1">
									<div class="information_2">
										<div class="sl_section_1">
											<p>Profile</p>
										</div>
									</div>
								</div>
								<div class="col-lg-2"></div>
								<div class="col-lg-3 infopad info_width_3">
									<div class="information_2">
										<div class="sl_section_1">
											<p>Category</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_1">
									<div class="information_2">
										<div class="sl_section_1">
											<p>Social Reach</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_2">
									<div class="information_2">
										<div class="sl_section_1">
											<p>Post Engagement</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1">
									<div class="information_2">
										<div class="sl_section_1">
											<p>Platform</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear pt10"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="t_section">
							<div class="row">
								<div class="col-lg-1">
									<img src="../../images/brand_photo.jpg" />
								</div>
								<div class="col-lg-2">
									<div class="information_1">
										<p class="info_1">Jessye Paul</p>
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
											<p>Kathmandu, Nepal</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 infopad info_width_3">
									<div class="information_2">
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-tags" aria-hidden="true"></i></span>
											<p>Fashion, Beauty, Travel, makeup</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_1">
									<div class="information_2">
										<div class="sl_section_1">
											<p>125 million</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_2">
									<div class="information_2">
										<div class="sl_section_1">
											<p>1.5 million</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1">
									<div class="information_2">
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-twitter-square brand_twitter" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-facebook-square brand_facebook" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-youtube-square brand_youtube" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-instagram brand_instagram" aria-hidden="true"></i></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="btn_section_1">
										<button class="quick_view" href="javascript:">Quick View</button>
										<button class="view_profile">View Profile</button>
									</div>
								</div>
							</div>
							<div class="row quickview" style="display: none;">
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-twitter-square brand_twitter" aria-hidden="true"></i>
										<p class="v_title">Twitter <span style="color: #88cfff">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #0099ff">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #0099ff">640K</p>
												<p>retweets</p>
											</div>
											<div class="followers">
												<p style="color: #0099ff">150K</p>
												<p>favorites</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #00a2ff">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #00a2ff">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-facebook-square brand_facebook" aria-hidden="true"></i>
										<p class="v_title">FACEBOOK <span style="color: #415dc1">980K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #415dc1">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #415dc1">640K</p>
												<p>like</p>
											</div>
											<div class="followers">
												<p style="color: #415dc1">150K</p>
												<p>comment</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #415dc1">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #415dc1">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-youtube-play brand_youtube" aria-hidden="true"></i>
										<p class="v_title">YOUTUBE <span style="color: #ff3d3d">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #ff3d3d">350K</p>
												<p>Subscribe</p>
											</div>
											<div class="followers">
												
											</div>
											<div class="followers">
												<p style="color: #ff3d3d">63254K</p>
												<p>Viewer</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #ff3d3d">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #ff3d3d">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 infopad_right info_width_4">
									<div class="view_section" style="border: none;">
										<i class="fa fa-instagram brand_instagram" aria-hidden="true"></i>
										<p class="v_title">INSTAGRAM <span style="color: #d692fb">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #b531fb">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #b531fb">64K</p>
												<p>like</p>
											</div>
											<div class="followers">
												<p style="color: #b531fb">150K</p>
												<p>comment</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #b531fb">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #b531fb">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="media_reach">
										<p>Social Media Reach</p>
										<h5>125M</h5>
										<svg height="100" width="200">
											<line x1="0" y1="100" x2="200" y2="90" style="stroke: #1a92e6;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="70" style="stroke: #ff9494;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="40" style="stroke: #c252df;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="10" style="stroke: #5d6fc0;stroke-width:1" />
										</svg>
										<!-- <img src="images/125m.jpg" /> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear pt30"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="t_section">
							<div class="row">
								<div class="col-lg-1">
									<img src="../../images/brand_photo.jpg" />
								</div>
								<div class="col-lg-2">
									<div class="information_1">
										<p class="info_1">Jessye Paul</p>
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
											<p>Kathmandu, Nepal</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 infopad info_width_3">
									<div class="information_2">
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-tags" aria-hidden="true"></i></span>
											<p>Fashion, Beauty, Travel, makeup</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_1">
									<div class="information_2">
										<div class="sl_section_1">
											<p>125 million</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_2">
									<div class="information_2">
										<div class="sl_section_1">
											<p>1.5 million</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1">
									<div class="information_2">
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-twitter-square brand_twitter" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-facebook-square brand_facebook" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-youtube-square brand_youtube" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-instagram brand_instagram" aria-hidden="true"></i></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="btn_section_1">
										<button class="quick_view_1" href="javascript:">Quick View</button>
										<button class="view_profile">View Profile</button>
									</div>
								</div>
							</div>
							<div class="row quickview_1" style="display: none;">
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-twitter-square brand_twitter" aria-hidden="true"></i>
										<p class="v_title">Twitter <span style="color: #88cfff">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #0099ff">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #0099ff">640K</p>
												<p>retweets</p>
											</div>
											<div class="followers">
												<p style="color: #0099ff">150K</p>
												<p>favorites</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #00a2ff">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #00a2ff">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-facebook-square brand_facebook" aria-hidden="true"></i>
										<p class="v_title">FACEBOOK <span style="color: #415dc1">980K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #415dc1">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #415dc1">640K</p>
												<p>like</p>
											</div>
											<div class="followers">
												<p style="color: #415dc1">150K</p>
												<p>comment</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #415dc1">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #415dc1">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-youtube-play brand_youtube" aria-hidden="true"></i>
										<p class="v_title">YOUTUBE <span style="color: #ff3d3d">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #ff3d3d">350K</p>
												<p>Subscribe</p>
											</div>
											<div class="followers">
													
											</div>
											<div class="followers">
												<p style="color: #ff3d3d">63254K</p>
												<p>Viewer</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #ff3d3d">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #ff3d3d">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 infopad_right info_width_4">
									<div class="view_section" style="border: none;">
										<i class="fa fa-instagram brand_instagram" aria-hidden="true"></i>
										<p class="v_title">INSTAGRAM <span style="color: #d692fb">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #b531fb">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #b531fb">64K</p>
												<p>like</p>
											</div>
											<div class="followers">
												<p style="color: #b531fb">150K</p>
												<p>comment</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #b531fb">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #b531fb">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="media_reach">
										<p>Social Media Reach</p>
										<h5>125M</h5>
										<svg height="100" width="200">
											<line x1="0" y1="100" x2="200" y2="90" style="stroke: #1a92e6;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="70" style="stroke: #ff9494;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="40" style="stroke: #c252df;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="10" style="stroke: #5d6fc0;stroke-width:1" />
										</svg>
										<!-- <img src="images/125m.jpg" /> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear pt30"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="t_section">
							<div class="row">
								<div class="col-lg-1">
									<img src="../../images/brand_photo.jpg" />
								</div>
								<div class="col-lg-2">
									<div class="information_1">
										<p class="info_1">Jessye Paul</p>
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
											<p>Kathmandu, Nepal</p>
										</div>
									</div>
								</div>
								<div class="col-lg-3 infopad info_width_3">
									<div class="information_2">
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-tags" aria-hidden="true"></i></span>
											<p>Fashion, Beauty, Travel, makeup</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_1">
									<div class="information_2">
										<div class="sl_section_1">
											<p>125 million</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1 infopad info_width_2">
									<div class="information_2">
										<div class="sl_section_1">
											<p>1.5 million</p>
										</div>
									</div>
								</div>
								<div class="col-lg-1">
									<div class="information_2">
										<div class="sl_section_1">
											<span style="width: 20px"><i class="fa fa-twitter-square brand_twitter" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-facebook-square brand_facebook" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-youtube-square brand_youtube" aria-hidden="true"></i></span>
											<span style="width: 20px"><i class="fa fa-instagram brand_instagram" aria-hidden="true"></i></span>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="btn_section_1">
										<button class="quick_view_2" href="javascript:">Quick View</button>
										<button class="view_profile">View Profile</button>
									</div>
								</div>
							</div>
							<div class="row quickview_2" style="display: none;">
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-twitter-square brand_twitter" aria-hidden="true"></i>
										<p class="v_title">Twitter <span style="color: #88cfff">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #0099ff">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #0099ff">640K</p>
												<p>retweets</p>
											</div>
											<div class="followers">
												<p style="color: #0099ff">150K</p>
												<p>favorites</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #00a2ff">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #00a2ff">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-facebook-square brand_facebook" aria-hidden="true"></i>
										<p class="v_title">FACEBOOK <span style="color: #415dc1">980K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #415dc1">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #415dc1">640K</p>
												<p>like</p>
											</div>
											<div class="followers">
												<p style="color: #415dc1">150K</p>
												<p>comment</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #415dc1">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #415dc1">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-2 infopad_right info_width_4">
									<div class="view_section">
										<i class="fa fa-youtube-play brand_youtube" aria-hidden="true"></i>
										<p class="v_title">YOUTUBE <span style="color: #ff3d3d">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #ff3d3d">350K</p>
												<p>Subscribe</p>
											</div>
											<div class="followers">
														
											</div>
											<div class="followers">
												<p style="color: #ff3d3d">63254K</p>
												<p>Viewer</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #ff3d3d">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #ff3d3d">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 infopad_right info_width_4">
									<div class="view_section" style="border: none;">
										<i class="fa fa-instagram brand_instagram" aria-hidden="true"></i>
										<p class="v_title">INSTAGRAM <span style="color: #d692fb">350K</span></p>
										<div class="follow_section">
											<div class="followers">
												<p style="color: #b531fb">350K</p>
												<p>followers</p>
											</div>
											<div class="followers">
												<p style="color: #b531fb">64K</p>
												<p>like</p>
											</div>
											<div class="followers">
												<p style="color: #b531fb">150K</p>
												<p>comment</p>
											</div>
										</div>
										<div class="sl_section_2">
											<div class="male">
												<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
												<p>Male <span style="color: #b531fb">15%</span></p>
											</div>
											<div class="male">
												<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
												<p>FeMale <span style="color: #b531fb">75%</span></p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="media_reach">
										<p>Social Media Reach</p>
										<h5>125M</h5>
										<svg height="100" width="200">
											<line x1="0" y1="100" x2="200" y2="90" style="stroke: #1a92e6;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="70" style="stroke: #ff9494;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="40" style="stroke: #c252df;stroke-width:1" />
											<line x1="0" y1="100" x2="200" y2="10" style="stroke: #5d6fc0;stroke-width:1" />
										</svg>
										<!-- <img src="images/125m.jpg" /> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear pt30"></div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
export default {
    
	mounted() {
		$(document).ready(function(){
            $("#search").click(function() {
                $("#search_block").toggle();
            });
            $(".quick_view").click(function() {
                $(".quickview").toggle();
            });
            $(".quick_view_1").click(function() {
                $(".quickview_1").toggle();
            });
            $(".quick_view_2").click(function() {
                $(".quickview_2").toggle();
            });
            $("#ex8").slider({
                tooltip: 'always'
            });
            $("#ex9").slider({
                tooltip: 'always'
            });
            $(function(){

				var currentValue = $('#ex8');

				$('#ex8').change(function(){
					currentValue.html(this.value);
				});
            });
        });
	}
}
</script>
