<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12">
						<div class="service_section">
							<div class="add_sec">
								<h5 class="info1" style="color:black">Create Your Social Service</h5>
								<p class="info1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
							</div>
							<router-link to="/add_service1" style="color:white" type="submit" class="bmn plus_btn">+</router-link>
						</div>

						<div class="status_section">
							<ul class="status_tab">
								<li><a class="vivo1" data-toggle="tab" href="#menu1">Active</a></li>
								<li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu2">Draft</a></li>
								<li style="margin-left: 50px;"><a class="vivo1" data-toggle="tab" href="#menu3">Denied</a></li>
							</ul>
							<a class="bmn more_btn filter_click" href="javascript:" style="margin-top: -2px"><img src="../../images/more.jpg" /></a>
							<div class="bmn search_btn" style="margin-top: -10px">
								<input type="" class="form-control" style="">
								<img src="../../images/search.jpg" />
							</div>
						</div>
						<div class="clear"></div>

						<div class="filter_section">
							<div class="filter" style="display:none">
								<div class="row">
									<div class="col-lg-3">
										<select class="form-control bnmx">
											<option>Select Social Platform</option>
										</select>
									</div>
							
									<div class="col-lg-3">
										<select class="form-control bnmx">
											<option>Category</option>
										</select>
									</div>
							
									<div class="col-lg-3">
										<select class="form-control bnmx">
											<option>Sub Category</option>
										</select>
									</div>
							
									<div class="col-lg-3">
										<select class="form-control bnmx">
											<option>Short by</option>
										</select>
									</div>
				
									<div class="col-lg-3" style="display: flex;">
										<p style="margin-left: 15px; margin-right: 30px; margin-top: 10px;">Date</p>
										<input class="form-control bnmx" style="width: 100px" value="2018-02-25">
										</input>
									</div>
				
									<div class="col-lg-3" style="display: flex;">
										<p style="margin-left: 5px; margin-right: 20px; margin-top: 10px;">To</p>
										<input class="form-control bnmx" style="width: 100px" value="2018-02-25">
										</input>
									</div>
								</div>
							</div>
						</div>
						
						<div class="tab-content">
							<div id="menu1" class="tab-pane fade in active">
								<div class="dummy_section">
									<div class="social_sec">
										<img class="info_img" src="../../images/dummy.jpg">
										<div class="information1">
											<p class="info1">Lorem Ipsum is simply dummy Lorem Ipsum</p>
											<p class="info1">is simply dummy text text</p>
											<a class="follow_info1" href=""><img src="../../images/f_icon.jpg"><span class="f_title">facebook</span></a>
										</div>
										<a class="bmn edit_btn dot_click" href="javascript:"><img src="../../images/three_dot.jpg" /></a>
										<ul class="bmn edit_dots" style="display: none">
											<li><a href="">Preview</a></li>
											<li><a href="">Edit</a></li>
											<li><a href="">Draft</a></li>
											<li><a href="">Denied</a></li>
										</ul>
									</div>
								</div>
								<div class="separates"></div>
								<div class="dummy_section">
									<div class="social_sec">
										<img class="info_img" src="../../images/dummy.jpg">
										<div class="information1">
											<p class="info1">Lorem Ipsum is simply dummy Lorem Ipsum</p>
											<p class="info1">is simply dummy text text</p>
											<a class="follow_info1" href=""><img src="../../images/t_icon.jpg"><span class="f_title">twitter</span></a>
										</div>
										<a class="bmn edit_btn dot_click1" href="javascript:"><img src="../../images/three_dot.jpg" /></a>
										<ul class="bmn edit_dots1" style="display: none">
											<li><a href="">Preview</a></li>
											<li><a href="">Edit</a></li>
											<li><a href="">Draft</a></li>
											<li><a href="">Denied</a></li>
										</ul>
									</div>
								</div>
								<div class="separates"></div>
								<div class="dummy_section">
									<div class="social_sec">
										<img class="info_img" src="../../images/dummy.jpg">
										<div class="information1">
											<p class="info1">Lorem Ipsum is simply dummy Lorem Ipsum</p>
											<p class="info1">is simply dummy text text</p>
											<a class="follow_info1" href=""><img src="../../images/blog.jpg"><span class="f_title">Blog/website</span></a>
										</div>
										<a class="bmn edit_btn dot_click2" href="javascript:"><img src="../../images/three_dot.jpg" /></a>
										<ul class="bmn edit_dots2" style="display: none">
											<li><a href="">Preview</a></li>
											<li><a href="">Edit</a></li>
											<li><a href="">Draft</a></li>
											<li><a href="">Denied</a></li>
										</ul>
									</div>
								</div>
								<div class="separates"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
	},	
	mounted() {
		$(document).ready(function(){
            $(".filter_click").click(function(){
                $(".filter").toggle();
            });
            $(".dot_click").click(function(){
                $(".edit_dots").toggle();
            });
            $(".dot_click1").click(function(){
                $(".edit_dots1").toggle();
            });
            $(".dot_click2").click(function(){
                $(".edit_dots2").toggle();
            });
        });
	}
}
</script>
