<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row" style="box-shadow: 1px 1px 5px 0px #e8e8e8; border-color: #e6e6e6; color: #e6e6e6">
					<div class="col-lg-3 col-md-12" style="padding-left: 0; padding-right: 0;">
						<div class="about_intro_content">
							<div class="bgboom"><img src="../../images/dpbig.png" /></div>
							<div class="clear100"></div>
							<p class="bhg">Jems Deo</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="about_info">
							<div class="col-lg-12" style="border-right: 1px solid;">
								<div class="about_title">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua.
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
									</p>
								</div>
								<div class="sl_section">
									<span style="width: 20px"><img src="../../images/skill.jpg"></span>
									<p>Fashaion, Beauty, Marketing, Digital Marketing</p>
								</div>
								<div class="sl_section">
									<span style="width: 20px"><img src="../../images/location.jpg"></span>
									<p>Kathmandu, Nepal</p>
								</div>
								<div class="btn_section">
									<button class="hireme">Hire Me</button>
									<button class="add_shortlist">Add Shorlist</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="about_info">
							<div class="col-lg-12">
								<div class="about_title">
									<p>Social Reach</p>
								</div>
								<div class="sl_section">
									<span><img src="../../images/t_b_icon.jpg"></span>
									<p>24K</p>
									<span style="margin-left: 30px;"><img src="../../images/f_icon.jpg"></span>
									<p>100K</p>
									<span style="margin-left: 30px;"><img src="../../images/y_icon.jpg"></span>
									<p>100K</p>
									<span style="margin-left: 30px;"><img src="../../images/insta_icon.jpg"></span>
									<p>100K</p>
								</div><br>
								<div class="sl_section">
									<span><img src="../../images/multigroup.jpg"></span>
									<p>325K People reach</p>
									<span style="margin-left: 20px;"><img src="../../images/bottom_icon.jpg"></span>
									<p>15% Male</p>
									<span style="margin-left: 20px;"><img src="../../images/right_icon.jpg"></span>
									<p>75% Female</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear" style="padding: 15px;"></div>
				<div class="row" style="box-shadow: 1px 1px 5px 0px #e8e8e8; color: #e6e6e6">
					<div class="col-lg-12">
						<div style="margin-top: 2%; margin-bottom: 2%;">
							<a href="/service" style="color: #72617d"><i class="fa fa-angle-left" aria-hidden="true"><span style="margin-left: 10px">Go back</span></i></a>
						</div>
					</div>
				</div>
				<div class="clear" style="padding: 15px;"></div>
				<div class="row">
					<div class="slider col-lg-7">
						<div class="col-lg-12" style="box-shadow: 1px 1px 5px 0px #e8e8e8; color: #e6e6e6">
							<div class="twitter_section">
								<h5 style="color: #666666; float: left;">Twitter Marketing to Generate Traffic for Retweets</h5>
								<img src="../../images/twitter_bg.jpg" style="float: right;">
							</div>
							<div class="clear"></div>
							<div class="business">
								<p>Business/Market Research</p>
							</div>
							<div class="business_img">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<ol class="carousel-indicators">
										<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
										<li data-target="#myCarousel" data-slide-to="1"></li>
										<li data-target="#myCarousel" data-slide-to="2"></li>
										<li data-target="#myCarousel" data-slide-to="3"></li>
										<li data-target="#myCarousel" data-slide-to="4"></li>
									</ol>
									<div class="carousel-inner">
										<div class="item active">
											<img src="../../images/view.jpg" style="width: 100%">
										</div>
										<div class="item">
											<img src="../../images/view.jpg" style="width: 100%">
										</div>
										<div class="item">
											<img src="../../images/view.jpg" style="width: 100%">
										</div>
										<div class="item">
											<img src="../../images/view.jpg" style="width: 100%">
										</div>
										<div class="item">
											<img src="../../images/view.jpg" style="width: 100%">
										</div>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<div class="skill_section">
								<a href="#" class="business_btn">Business</a>
								<a href="#" class="business_btn">Twitter</a>
								<a href="#" class="business_btn">Marketing</a>
								<a href="#" class="business_btn">Social</a>
								<a href="#" class="business_btn">Growth</a>
								<a href="#" class="business_btn">Business</a>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-1"></div> -->
					<div class="col-lg-5" style="box-shadow: 1px 1px 5px 0px #e8e8e8; color: #e6e6e6">
							
								<p style="color: #685872; padding-top: 20px; margin-bottom: 0; position: absolute;"> Select Service Package </p>
							<div class="vertical-tabs">
							<ul class="tabs vertical" data-tab="">
								<li class="tab-title active f1"><a href="#panela1" aria-selected="true" tabindex="0">SERVICE PACKAGE<br><span>$10</span></a></li>
								<li class="tab-title f2"><a href="#panelb1" aria-selected="false" tabindex="-1">SERVICE PACKAGE<br><span>$20</span></a></li>
								<li class="tab-title f3"><a href="#panelc1" aria-selected="false" tabindex="-1">SERVICE PACKAGE<br><span>$30</span></a></li>
								<li class="tab-title f4"><a href="#paneld1" aria-selected="false" tabindex="-1">PREMIUM SERVICE PACKAGE<br><span>$40</span></a></li>
								<div style="text-align: center;"><a href="" style="color: #6b5b74">View More</a></div>
							</ul>
							<div class="tabs-content">
								<div class="content active" id="panela1" aria-hidden="false" >
								<p>Highest GROWTH rate+ Best Engagement 200% compared to basic + report on growth</p>
								<br>
								<img src="../../images/check.jpg"><p class="tab_title">Page/Channel Evaluation</p>
								<img src="../../images/check.jpg"><p class="tab_title">30 days of Social Media Manage-ment</p>
								<img src="../../images/check.jpg"><p class="tab_title">Full-Time Engagement</p>
								<img src="../../images/check.jpg"><p class="tab_title">Action Plan</p>
								<img src="../../images/check.jpg"><p class="tab_title">Other Aditional Features</p>
								<img src="../../images/check.jpg"><p class="tab_title">1 Guest post + article writing</p>
								<br><br><br><br>
								<div class="row">
									<button class="buy_now">Buy Now</button>
									<button class="money">$140</button>
								</div>
								</div>
								<div class="content" id="panelb1" aria-hidden="true" tabindex="-1">
								<p>This is the second panel of the basic tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nesciunt. Aperiam sed expedita quo. Ipsam iusto sapiente animi? Voluptatem ut facilis maxime minima. Aperiam, at non sequi molestias tempora. Enim.</p>
								</div>
								<div class="content" id="panelc1" aria-hidden="true" tabindex="-1">
								<p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
								</div>
								<div class="content" id="paneld1" aria-hidden="true" tabindex="-1">
								<p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="clear" style="padding: 15px;"></div>
				<div class="row">
					<div class="detail-wrap col-lg-9">
						<div class="col-lg-12">
							<div class="row" style="box-shadow: 1px 1px 5px 0px #e8e8e8; color: #e6e6e6">
								<div class="col-lg-12">
									<div class="about_info">
										<div class="col-lg-12">
											<p>Increased Marketing Higher GROWTH rate+Great Engagement 120% compared to basic</p><br>
											<p>Our Service:</p>
											<p>1. Active Profile</p>
											<p>2. A refund warranted</p>
											<p>3. quick Delivery</p>
											<p>4. Split however less then four links</p>
											<p>5. twenty four Hours Support</p>
											<p>6. Instant begin</p><br>
											<p>All i would like is that the link and that is it!</p>
											<p>you will begin generating traffic instantly</p><br>
											<p>Industry Reports: Market research Will include Market Overview, Driving Forces, Competitive Landscapes,</p>
											<p>SWOT. Customized Market research Reports</p>
										</div>
									</div>
								</div>
							</div>
							<div class="clear" style="margin-top: 30px;"></div>
							<div class="row" style="margin-top: 30px;">
								<div class="col-lg-12" style="margin-top: 30px; box-shadow: 1px 1px 5px 0px #e8e8e8; color: #e6e6e6;">
									<div class="about_info">
										<div class="col-lg-12">
											<h6 class="faq">FAQ</h6>
											<div class="panel-group" id="accordion">
												<div class="panel panel-default">
													<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
														<h4 class="panel-title">
															<a class="accordion-toggle">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
														</h4>
													</div>
													<div id="collapseOne" class="panel-collapse collapse">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est! 
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
														</h4>
													</div>
													<div id="collapseTen" class="panel-collapse collapse">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est! 
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
														</h4>
													</div>
													<div id="collapseEleven" class="panel-collapse collapse">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
														<h4 class="panel-title">
															<a class="accordion-toggle collapsed">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a>
														</h4>
													</div>
													<div id="collapseFive" class="panel-collapse collapse">
														<div class="panel-body">
															Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="margin-top: 30px;">
								<div class="col-lg-12" style="margin-top: 30px; box-shadow: 1px 1px 5px 0px #e8e8e8; color: #e6e6e6;">
									<div class="about_info">
										<div class="col-lg-12">
											<div class="service_review">
												<h5 class="s_review">Service Review</h5>
												<span style="margin-left: 10px;"><img src="../../images/star.png"></span>
											</div>
											<div class="clear" style="padding-top: 30px;"></div>
											<div class="col-lg-12" style="padding-left: 5%; padding-right: 5%;">
												<div class="row">
													<div class="col-lg-2">
														<div class="review_profile">
															<img src="../../images/dpbig.png">
															<p class="review_name">JEMES DEO</p>
														</div>
													</div>
													<div class="col-lg-1"></div>
													<div class="col-lg-9">
														<div class="">
															<img src="../../images/star.png">
															<p class="review_title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
																the dustry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type
																and specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
															</p>
														</div>
														<div class="clear" style="padding-top: 30px;"></div>
														<div class="row">
															<div class="col-lg-3">
																<div class="review_profile">
																	<img src="../../images/dp.png">
																	<p class="review_name">JEMES DEO</p>
																</div>
															</div>
															<div class="col-lg-9">
																<div class="">
																	<p class="review_title">Lorem Ipsum is simply dummy text a type spcimen book. It has survived not only five centuries.
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="clear" style="padding-top: 30px;"></div>
											<div class="col-lg-12" style="padding-left: 5%; padding-right: 5%;">
												<div class="row">
													<div class="col-lg-2">
														<div class="review_profile">
															<img src="../../images/dpbig.png">
															<p class="review_name">JEMES DEO</p>
														</div>
													</div>
													<div class="col-lg-1"></div>
													<div class="col-lg-9">
														<div class="">
															<img src="../../images/star.png">
															<p class="review_title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
																the dustry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type
																and specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
															</p>
														</div>
													</div>
													<div class="col-lg-1">
				
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="col-lg-1"></div> -->
					<div class="col-lg-3" style="box-shadow: 1px 1px 5px 0px #e8e8e8; color: #e6e6e6;">
						<div class="about_info">
							<h5 class="recommend_service">Recommended Services</h5>
						</div>
						<div class="clear" style="margin-top: 30px;"></div>
						<div class="recommend_info">
							<img src="../../images/recommend_f.jpg">
							<h6>Facebook Posts Lorem ipsum dolor sit amet, con-sectetur adipisicing elit</h6>
							<div class="clear dot"></div>
							<div class="review_details">
								<img src="../../images/message.jpg"><span class="r_detail" style="margin-right: 10px;">21</span>
								<img src="../../images/love.jpg"><span class="r_detail" style="margin-right: 10px;">234K</span>
								<img src="../../images/eye.jpg"><span class="r_detail" style="margin-right: 10px;">25354K</span>
								<a href="" style="float: right;"><img src="../../images/three_dot.jpg"></a>
							</div>
						</div>
						<div class="clear" style="margin-top: 30px;"></div>
						<div class="recommend_info">
							<img src="../../images/recommend_f.jpg">
							<h6>Facebook Posts Lorem ipsum dolor sit amet, con-sectetur adipisicing elit</h6>
							<div class="clear dot"></div>
							<div class="review_details">
								<img src="../../images/message.jpg"><span class="r_detail" style="margin-right: 10px;">21</span>
								<img src="../../images/love.jpg"><span class="r_detail" style="margin-right: 10px;">234K</span>
								<img src="../../images/eye.jpg"><span class="r_detail" style="margin-right: 10px;">25354K</span>
								<a href="" style="float: right;"><img src="../../images/three_dot.jpg"></a>
							</div>
						</div>
						<div class="clear" style="margin-top: 30px;"></div>
						<div class="recommend_info">
							<img src="../../images/recommend_f.jpg">
							<h6>Facebook Posts Lorem ipsum dolor sit amet, con-sectetur adipisicing elit</h6>
							<div class="clear dot"></div>
							<div class="review_details">
								<img src="../../images/message.jpg"><span class="r_detail" style="margin-right: 10px;">21</span>
								<img src="../../images/love.jpg"><span class="r_detail" style="margin-right: 10px;">234K</span>
								<img src="../../images/eye.jpg"><span class="r_detail" style="margin-right: 10px;">25354K</span>
								<a href="" style="float: right;"><img src="../../images/three_dot.jpg"></a>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
	},	
	mounted() {
		$().ready(function(){
            $('.tab-title>a').click(function(e){
                e.preventDefault();
                var index = $(this).parent().index();
                $(this).parent().addClass('active')
                    .siblings().removeClass('active')
                    .parent('ul.tabs').siblings('.tabs-content').children('.content').removeClass('active')
                    .eq(index).addClass('active');
            });
        })
	}
}
</script>
