<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row" style="box-shadow: 1px 1px 5px 0px #e8e8e8; border-color: #e6e6e6; color: #e6e6e6">
					<div class="col-lg-3 col-md-12" style="padding-left: 0; padding-right: 0;">
						<div class="about_intro_content">
							<div class="bgboom"><img src="../../images/dpbig.png" /></div>
							<div class="clear100"></div>
							<p class="bhg">Jems Deo</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="about_info">
							<div class="col-lg-12" style="border-right: 1px solid;">
								<div class="about_title">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua.
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
									</p>
								</div>
								<div class="sl_section">
									<span style="width: 20px"><img src="../../images/skill.jpg"></span>
									<p>Fashaion, Beauty, Marketing, Digital Marketing</p>
								</div>
								<div class="sl_section">
									<span style="width: 20px"><img src="../../images/location.jpg"></span>
									<p>Kathmandu, Nepal</p>
								</div>
								<div class="btn_section">
									<button class="hireme">Hire Me</button>
									<button class="add_shortlist">Add Shorlist</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="about_info">
							<div class="col-lg-12">
								<div class="about_title">
									<p>Social Reach</p>
								</div>
								<div class="sl_section">
									<span><img src="../../images/t_b_icon.jpg"></span>
									<p>24K</p>
									<span style="margin-left: 30px;"><img src="../../images/f_icon.jpg"></span>
									<p>100K</p>
									<span style="margin-left: 30px;"><img src="../../images/y_icon.jpg"></span>
									<p>100K</p>
									<span style="margin-left: 30px;"><img src="../../images/insta_icon.jpg"></span>
									<p>100K</p>
								</div><br>
								<div class="sl_section">
									<span><img src="../../images/multigroup.jpg"></span>
									<p>325M People reach</p>
									<span style="margin-left: 20px;"><img src="../../images/bottom_icon.jpg"></span>
									<p>15% Male</p>
									<span style="margin-left: 20px;"><img src="../../images/right_icon.jpg"></span>
									<p>75% Female</p>
								</div><br>
								<div class="sl_section">
									<span class="social_reach">Social Reach</span>
									<p style="color: black;">32.5M</p>
									<span class="social_reach" style="margin-left: 40px;">Post Engagement</span>
									<p style="color: black;">2.5M</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear" style="padding: 15px;"></div>
				<div class="row" style="box-shadow: 1px 1px 5px 0px #e8e8e8; border-color: #e6e6e6; color: #e6e6e6">
					<div class="vertical-tabs1">
						<div class="col-lg-12">
							<ul class="tabs1 vertical" data-tab="">
								<li class="tab-title-1 active"><a href="#panela1"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
								<li class="tab-title-1"><a href="#panelb1" aria-selected="false" tabindex="-1"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
								<li class="tab-title-1"><a href="#panelc1" aria-selected="false" tabindex="-1"><i class="fa fa-twitter f_t" aria-hidden="true"></i></a></li>
								<li class="tab-title-1"><a href="#paneld1" aria-selected="false" tabindex="-1"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li class="tab-title-1"><a href="#paneld1" aria-selected="false" tabindex="-1"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								<li class="tab-title-1"><a href="#paneld1" aria-selected="false" tabindex="-1"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
							</ul>
							<div class="tabs-content1">
								<div class="content active" id="panela1" aria-hidden="false" >
									<h5 style="margin-bottom: 14px; color: #65566f;">Services List</h5>
									<div class="row">
										<div class="col-lg-8">
											<div class="row">
												<div class="s_service col-lg-6">
													<div class="row service_info">
														<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
														<div class="col-lg-7" style="padding: 0; padding-left: 10px">
															<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
															<div class="clear dot"></div>
															<div class="review_details">
																<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
																<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
																<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
															</div>
														</div>
													</div>
												</div>
												<div class="s_service col-lg-6">
													<div class="row service_info">
														<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
														<div class="col-lg-7" style="padding: 0; padding-left: 10px">
															<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
															<div class="clear dot"></div>
															<div class="review_details">
																<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
																<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
																<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="s_service col-lg-6">
													<div class="row service_info">
														<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
														<div class="col-lg-7" style="padding: 0; padding-left: 10px">
															<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
															<div class="clear dot"></div>
															<div class="review_details">
																<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
																<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
																<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
															</div>
														</div>
													</div>
												</div>
												<div class="s_service col-lg-6">
													<div class="row service_info">
														<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
														<div class="col-lg-7" style="padding: 0; padding-left: 10px">
															<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
															<div class="clear dot"></div>
															<div class="review_details">
																<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
																<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
																<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="s_service col-lg-6">
													<div class="row service_info">
														<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
														<div class="col-lg-7" style="padding: 0; padding-left: 10px">
															<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
															<div class="clear dot"></div>
															<div class="review_details">
																<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
																<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
																<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
															</div>
														</div>
													</div>
												</div>
												<div class="s_service col-lg-6">
													<div class="row service_info">
														<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
														<div class="col-lg-7" style="padding: 0; padding-left: 10px">
															<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
															<div class="clear dot"></div>
															<div class="review_details">
																<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
																<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
																<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<br>
										</div>
										<div class="col-lg-4 hashtags">
											<div class="skill_field">
												<div class="tags_field">
													<h5 style="color: #666666">My Hashtags</h5>
													<p>#marketingtag</p>
													<p>#facts</p>
													<p>#vamospracima</p>
													<p>#widebody</p>
													<p>#quotes</p>
													<p>#promote</p>
													<p>#christmastree</p>
													<p>#christmaspictures</p>
													<p>#businesswome</p>
													<p>#birthday</p>
													<p>#entrepreneurlife</p>
													<p>#branded #magazine</p>
													<p>#christmas</p>
													<p>#marketing #santa</p>
													<p>#femaleentrepreneur</p>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="s_service col-lg-4">
											<div class="row service_info">
												<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
												<div class="col-lg-7" style="padding: 0; padding-left: 10px">
													<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
													<div class="clear dot"></div>
													<div class="review_details">
														<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
														<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
														<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
													</div>
												</div>
											</div>
										</div>
										<div class="s_service col-lg-4">
											<div class="row service_info">
												<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
												<div class="col-lg-7" style="padding: 0; padding-left: 10px">
													<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
													<div class="clear dot"></div>
													<div class="review_details">
														<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
														<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
														<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
													</div>
												</div>
											</div>
										</div>
										<div class="s_service col-lg-4">
											<div class="row service_info">
												<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
												<div class="col-lg-7" style="padding: 0; padding-left: 10px">
													<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
													<div class="clear dot"></div>
													<div class="review_details">
														<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
														<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
														<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="s_service col-lg-4">
											<div class="row service_info">
												<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
												<div class="col-lg-7" style="padding: 0; padding-left: 10px">
													<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
													<div class="clear dot"></div>
													<div class="review_details">
														<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
														<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
														<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
													</div>
												</div>
											</div>
										</div>
										<div class="s_service col-lg-4">
											<div class="row service_info">
												<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
												<div class="col-lg-7" style="padding: 0; padding-left: 10px">
													<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
													<div class="clear dot"></div>
													<div class="review_details">
														<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
														<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
														<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
													</div>
												</div>
											</div>
										</div>
										<div class="s_service col-lg-4">
											<div class="row service_info">
												<img src="../../images/service_twitter.jpg" class="col-lg-5" style="padding: 0">
												<div class="col-lg-7" style="padding: 0; padding-left: 10px">
													<h6 style="color: #666666; margin-top: 15px; margin-bottom: 20px;">Twitter Posts Lorem ipsum dolor sit amet, consectetur adipisicing</h6>
													<div class="clear dot"></div>
													<div class="review_details">
														<i class="fa fa-commenting" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">21</span>
														<i class="fa fa-heart" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">234K</span>
														<i class="fa fa-eye" aria-hidden="true"></i><span class="r_detail" style="margin-right: 10px;">25354K</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content" id="panelb1" aria-hidden="true" tabindex="-1">
									<p>This is the second panel of the basic tab example. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, nesciunt. Aperiam sed expedita quo. Ipsam iusto sapiente animi? Voluptatem ut facilis maxime minima. Aperiam, at non sequi molestias tempora. Enim.</p>
								</div>
								<div class="content" id="panelc1" aria-hidden="true" tabindex="-1">
									<p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
								</div>
								<div class="content" id="paneld1" aria-hidden="true" tabindex="-1">
									<p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- </div> -->
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        'left-sidebar':leftSidebar
	},	
	mounted() {
		$().ready(function(){
			$('.tab-title-1>a').click(function(e){
				e.preventDefault();
				var index = $(this).parent().index();
				$(this).parent().addClass('active')
					.siblings().removeClass('active')
					.parent('ul.tabs1').siblings('.tabs-content1').children('.content').removeClass('active')
					.eq(index).addClass('active');
			});
		})
	}
}
</script>
