<template>
	<div class="main">
		<section>
			<div class="container">
				<div class="row">
					<left-sidebar></left-sidebar>
					<div class="col-lg-9 col-md-12 infopad" style="box-shadow: 1px 1px 5px 0px #e8e8e8;">
                    	<!-- About Intro Content -->
						<div class="about_intro_content">
							<div class="row no_row">
								<div class="col-lg-12 col-lg-6 pt30 inf-list shadow-box">
									<div class="influencer_list">
										<div>
											<h5>Influencer List</h5>
											<p>Loerm Ipsum is simple dummy text of the printing and typesetting industry.</p>
										</div>
										<div class="pt30"></div>
										<div class="status_section">
											<ul class="status_tab">
												<li><a class="vivo1" data-toggle="tab" href="#menu1">Sortlisted Influencer</a></li>
												<li style="margin-left: 20px;"><a class="vivo1" data-toggle="tab" href="#menu2">Influencer Groups</a></li>
											</ul>
											<a class="bmn more_btn filter_click" href="javascript:" style="margin-top: 1px; margin-right: 0;"><img src="../../images/more.jpg"></a>
										</div>
										<div class="tab-content">
											<div id="menu1" class="tab-pane fade in active">
												<div class="t_section">
													<div class="one_inf">
														<div class="viewprofile" href="javascript:">
															<img src="../../images/brand_photo.jpg">
														</div>
														<div class="list">
															<div class="row">
																<div class="col-lg-6">
																	<div class="">
																		<p class="info_1">Jessye Paul</p>
																		<div class="sl_section_1">
																			<span style="width: 20px"></span>
																		</div>
																	</div>
																</div>
																<div class="col-lg-6 infopad">
																	<div class="">
																		<div class="sl_section_1">
																			<span style="width: 20px"><i class="fa fa-tags" aria-hidden="true"></i></span>
																			<p>Fashion, Beauty</p>
																		</div>
																	</div>
																</div>
															</div>
															
														</div>
														<div class="submenu">
															<a class="bmn edit_btn_1 dot_click2" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
															<ul class="bmn edit_menu" style="display: none">
																<li><a href="">Assign Project</a></li>
																<li><a href="">Remove Group</a></li>
															</ul>
														</div>
													</div>
													<div class="view_profilesection" style="display: none;">
														<div class="platform_section">
															<div class="sl_section_1">
																<span style="width: 20px"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
																<p>Kathmandu, Nepal</p>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/twitterbtn.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #0099ff">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #00a2ff">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #00a2ff">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/fbtnd.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #415dc1">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #415dc1">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #415dc1">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/youtubebtn.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #ff3d3d">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #ff3d3d">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #ff3d3d">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/instabtn.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #d692fb">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #b531fb">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #b531fb">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-lg-4">
																	<p class="social_reach">Total Social Reach</p>
																	<h5>32.5M</h5>
																</div>
																<div class="col-lg-3">
																	<p class="social_reach">Post Engagement</p>
																	<h5>2.5M</h5>
																</div>
																<div class="col-lg-2 infopad_right">
																	<p class="social_reach">Total Male</p>
																	<h5>50%</h5>
																</div>
																<div class="col-lg-3">
																	<p class="social_reach">Total Female</p>
																	<h5>50%</h5>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="clear pt30"></div>
												<div class="t_section">
													<div class="one_inf">
														<div class="viewprofile" href="javascript:">
															<img src="../../images/brand_photo.jpg">
														</div>
														<div class="list">
															<div class="row">
																<div class="col-lg-6">
																	<div class="">
																		<p class="info_1">Jessye Paul</p>
																		<div class="sl_section_1">
																			<span style="width: 20px"></span>
																		</div>
																	</div>
																</div>
																<div class="col-lg-6 infopad">
																	<div class="">
																		<div class="sl_section_1">
																			<span style="width: 20px"><i class="fa fa-tags" aria-hidden="true"></i></span>
																			<p>Fashion, Beauty</p>
																		</div>
																	</div>
																</div>
															</div>
															
														</div>
														<div class="submenu">
															<a class="bmn edit_btn_1 dot_click2" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
															<ul class="bmn edit_menu" style="display: none">
																<li><a href="">Assign Project</a></li>
																<li><a href="">Remove Group</a></li>
															</ul>
														</div>
													</div>
													<div class="view_profilesection" style="display: none;">
														<div class="platform_section">
															<div class="sl_section_1">
																<span style="width: 20px"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
																<p>Kathmandu, Nepal</p>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/twitterbtn.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #0099ff">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #00a2ff">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #00a2ff">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/fbtnd.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #415dc1">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #415dc1">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #415dc1">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/youtubebtn.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #ff3d3d">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #ff3d3d">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #ff3d3d">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row pt10">
																<div class="col-lg-4">
																	<a class="socialicon_1" href="#"><img src="../../images/instabtn.jpg"></a>
																</div>
																<div class="col-lg-2">
																	<p style="color: #d692fb">350K</p>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-mars" aria-hidden="true"></i></span>
																		<p>Male <span style="color: #b531fb">15%</span></p>
																	</div>
																</div>
																<div class="col-lg-3">
																	<div class="sl_section_1">
																		<span style="width: 20px"><i class="fa fa-venus" aria-hidden="true"></i></span>
																		<p>FeMale <span style="color: #b531fb">75%</span></p>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-lg-4">
																	<p class="social_reach">Total Social Reach</p>
																	<h5>32.5M</h5>
																</div>
																<div class="col-lg-3">
																	<p class="social_reach">Post Engagement</p>
																	<h5>2.5M</h5>
																</div>
																<div class="col-lg-2 infopad_right">
																	<p class="social_reach">Total Male</p>
																	<h5>50%</h5>
																</div>
																<div class="col-lg-3">
																	<p class="social_reach">Total Female</p>
																	<h5>50%</h5>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="clear pt30"></div>
											</div>
											<div id="menu2" class="tab-pane fade in">
												<div class="row">
													<div class="col-lg-6">
														<div class="list_sec">
															<div class="row no_row">
																<div class="col-lg-3">
																	<i class="fa fa-tags tags_1" aria-hidden="true"></i>
																</div>
																<div class="col-lg-7 list">
																	<p class="main_title">Fashion</p>
																	<p class="sub_title">Influencer Group</p>
																</div>
																<div class="col-lg-2 submenu">
																	<a class="bmn edit_btn_1 dot_click" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
																	<ul class="bmn edit_dots_1" style="display: none">
																		<li><a href="">Assign Project</a></li>
																		<li><a href="">Remove Group</a></li>
																	</ul>
																</div>
															</div>
															<div class="clear pt10"></div>
															<div class="row no_row">
																<div class="col-lg-5">
																</div>
																<div class="col-lg-7">
																	<div class="sum_list">
																		<img src="../../images/shortlist.jpg" /><span style="margin-left: 10px; color: #666666;">33</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="clear pt30"></div>
													</div>
													<div class="col-lg-6">
														<div class="list_sec">
															<div class="row no_row">
																<div class="col-lg-3">
																	<i class="fa fa-tags tags_1" aria-hidden="true"></i>
																</div>
																<div class="col-lg-7 list">
																	<p class="main_title">Digital</p>
																	<p class="sub_title">Influencer Group</p>
																</div>
																<div class="col-lg-2 submenu">
																	<a class="bmn edit_btn_1 dot_click2" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
																	<ul class="bmn edit_dots2" style="display: none">
																		<li><a href="">Assign Project</a></li>
																		<li><a href="">Remove Group</a></li>
																	</ul>
																</div>
															</div>
															<div class="clear pt10"></div>
															<div class="row no_row">
																<div class="col-lg-5">
																</div>
																<div class="col-lg-7">
																	<div class="sum_list">
																		<img src="../../images/shortlist.jpg" /><span style="margin-left: 10px; color: #666666;">33</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="clear pt30"></div>
													</div>
												</div>
												
												<div class="row">
													<div class="col-lg-6">
														<div class="list_sec">
															<div class="row no_row">
																<div class="col-lg-3">
																	<i class="fa fa-tags tags_1" aria-hidden="true"></i>
																</div>
																<div class="col-lg-7 list">
																	<p class="main_title">Musics</p>
																	<p class="sub_title">Influencer Group</p>
																</div>
																<div class="col-lg-2 submenu">
																	<a class="bmn edit_btn_1 dot_click3" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
																	<ul class="bmn edit_dots3" style="display: none">
																		<li><a href="">Assign Project</a></li>
																		<li><a href="">Remove Group</a></li>
																	</ul>
																</div>
															</div>
															<div class="clear pt10"></div>
															<div class="row no_row">
																<div class="col-lg-5">
																</div>
																<div class="col-lg-7">
																	<div class="sum_list">
																		<img src="../../images/shortlist.jpg" /><span style="margin-left: 10px; color: #666666;">33</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="clear pt30"></div>
													</div>
													<div class="col-lg-6">
														<div class="list_sec">
															<div class="row no_row">
																<div class="col-lg-3">
																	<i class="fa fa-tags tags_1" aria-hidden="true"></i>
																</div>
																<div class="col-lg-7 list">
																	<p class="main_title">Beauty</p>
																	<p class="sub_title">Influencer Group</p>
																</div>
																<div class="col-lg-2 submenu">
																	<a class="bmn edit_btn_1 dot_click4" href="javascript:"><i class="fa fa-ellipsis-v" aria-hidden="true" style="color: #939393;"></i></a>
																	<ul class="bmn edit_dots4" style="display: none">
																		<li><a href="">Assign Project</a></li>
																		<li><a href="">Remove Group</a></li>
																	</ul>
																</div>
															</div>
															<div class="clear pt10"></div>
															<div class="row no_row">
																<div class="col-lg-5">
																</div>
																<div class="col-lg-7">
																	<div class="sum_list">
																		<img src="../../images/shortlist.jpg" /><span style="margin-left: 10px; color: #666666;">33</span>
																	</div>
																</div>
															</div>
														</div>
														<div class="clear pt30"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- <div class="col-lg-4 pt30">
									<div class="influencer_list pro50">
										<div>
											<h5>Assign Project</h5>
											<p>you can assign project by selecting individual influencer list or influencer groups. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
										</div>
									</div>
								</div> -->

								<div class="col-lg-6 pt30 assign-project hidden">
									<div class="influencer_list">
										<div>
											<h5>Assign Project</h5>
											<p>Loerm Ipsum is simple dummy text of the printing and typesetting industry.</p>
										</div>
										<div class="pt30"></div>
										<input type="text" class="bnmx form-control" name="" data-toggle="popover" placeholder="Product or campaign name" data-original-title="" title="">
										<p class="platform_title">Select Platform</p>
										<div class="row">
											<div class="col-lg-4">
												<div class="bnmx">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Facebook</span>
													</label>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="bnmx">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Twitter</span>
													</label>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="bnmx">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Instagram</span>
													</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-4">
												<div class="bnmx">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Snapchat</span>
													</label>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="bnmx">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Youtube</span>
													</label>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="bnmx">
													<label style="cursor: pointer;">
														<input class="revision" href="javascript:" type="checkbox">
														<span>Other</span>
													</label>
												</div>
											</div>
										</div>
										<p class="hash_title">Define your HashTags / Keywords</p>
										<input class="bmn form-control" id="ms1" type="text" name="ms1"/>
										<div class="clear pt20"></div>
										<textarea class="bnmx form-control" name="" id="" cols="30" rows="6" placeholder="Describe your service or product"></textarea>
										<div>
											<input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png" multiple="">
										</div>
										<div class="next-section_1" style="margin-top: 150px;">
											<div class="row">
												<div class="col-lg-7"></div>
												<div class="col-lg-5">
													<div class="form-check">
														<a style="color:white" href="" type="submit" class="btn btn-login float-right">ASSIGN NOW</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- /.About Intro Content -->
					</div>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
// import {mapGetters} from 'vuex';
import leftSidebar_com from './leftSidebar_com.vue';
export default {
    components:{
        'left-sidebar':leftSidebar_com
	},	
	mounted() {
		$(document).ready(function(){

            $(".submenu").click(function(){
                $(this).children("ul").toggle();
            });
            $(".viewprofile").click(function(){
				// console.log("test");
				$(this).parents(".t_section").children(".view_profilesection").toggle();
            });
            $(".viewprofile1").click(function(){
                $(".view_profilesection_1").toggle();
            });
		});
		$(".list").click(function(){
			$(".inf-list").toggleClass("col-lg-12");
			$(".list_sec").parent().toggleClass("col-lg-12");
			$(".assign-project").toggleClass("hidden");
		});
		
	}
}
</script>
