<template>
    <div>
        <nav id="main_nav" class="navbar navbar-light fixed-top navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="../../images/logo.png" alt="Hireinfluencer Logo" /></a>
            </div>
        </nav>
        <!-- /.Navigation -->

        <div class="spacer1"></div>

        <!-- About -->
        <section class="container-fluid">
            <div class="row">

                <div class="col-md-7 banner-sec">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                        <div class="banner-text">
                            <h2>INFLUENCER Platform</h2>
                            <p>A one-stop destination for all content, blogger, influencer & social events.
                                <br> Join Hireinfluencer now !</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-5 login-sec">
                    <h2 class="uyim">Account Type</h2>
                    <p>Scrunch is the smarter way to manage your influencer
                        <br> marketing. Get your campaign live and start inviting targeted
                        <br> influencers in minutes. </p>
                    <form class="login-form">
                        
                        <label for="account_type" class="label">
                            <div class="user">
                                <div :class="{ acti: selected == 1,'color-grey':true }"><img src="static/user.png"><div>Infuluence</div></div>
                            </div>
                            <input class="hide" type="radio" name="account_type" value="1" id="account_type" checked @click="onSelect(1)">
                        </label>
                        <label for="account_type2" class="label">
                            <div class="user">
                                <div :class="{ acti: selected == 2,'color-grey':true }"><img src="static/user.png">Brand</div>
                            </div>
                            <input class="hide" type="radio" name="account_type" value="2" id="account_type2" checked @click="onSelect(2)">
                        </label>
                        <label for="account_type3" class="label">
                            <div class="user">
                                <div :class="{ acti: selected == 3,'color-grey':true }"><img src="static/user.png">Agency</div>
                            </div>
                            <input class="hide" type="radio" name="account_type" value="3" id="account_type3" checked @click="onSelect(3)">
                        </label>

                        <!-- <label for="account_type2">                        
                            <div class="user">
                                <a href="#"><img src="static/user.png">Brand</a>
                            </div>
                            <input type="radio" name="account_type" value="2" id="account_type2">
                        </label>

                        <label for="account_type3">                      
                            <div class="user">
                                <a href="#"><img src="static/user.png">Agency</a>
                            </div>
                            <input type="radio" name="account_type" value="3" id="account_type3">
                        </label> -->

                        <br clear="all">

                        <div class="form-check">
                             <router-link to="/signup3" style="color:white" type="submit" class="btn btn-login float-right">Next</router-link>
                        </div>
                        <router-link to="/signup" class="btnBk">Back</router-link>

                    </form>
                </div>
            </div>
        </section>
    </div>
</template>


<script>

// import {mapGetters} from 'vuex';
// import leftSidebar from './leftSidebar.vue';
export default {
    components:{
        // 'left-sidebar':leftSidebar
    },
    data(){
        return{
            icon: require("../../images/twitter_1.jpg"),
            del_icon: require("../../images/delete.jpg"),
            selected:1
        }
    },
    mounted() {
        // console.log("mountedmountedmounted");   
        // this.$store.dispatch('getCategoyData');
        
    },
    methods:{
        onSelect (value) {
            console.log('selecting');
            this.selected = value;
        }
        
    }

}
    
</script>

<style scoped>
    .user div.acti img, .user div img:hover {
        background: #27e28d;
    }
    .user div img {
        background: #fff;
        border-radius: 50%;
        display: table;
        margin: 0 auto 10px;
        padding: 15px;
        cursor:pointer;
    }
    .user {        
        width: 100%;
    }
    .hide{
        display:none;
    }
    .label{
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
    }
    .color-grey{
        color: #666;
    }
</style>


