.img_lists {
    list-style: none;
    padding: 0;
  }
  
  .img_list {
    float: left;
    margin-right: 20px;
    > a {
      color: #858585;
      > i {
        font-size: 30px;
        &:hover, &.selected {
          color: blue;
        }
      }
    }
  }
  
  .card_field {
    width: 100%;
    padding: 8px;
    border-collapse: #8f8f8f;
  }
  
  .card_section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .security_section {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  
  .ssl_title {
    text-align: center;
    margin-bottom: 0;
    font-size: 15px;
  }
  
  .ssl {
    color: #33cc66;
    margin-right: 4px;
  }
  
  .ssl_img {
    margin-right: 4px;
  }