.submit_title {
    color: #333333;
    font-size: 15px;
  }
  
  .under_title {
    color: #696969;
    font-size: 14px;
  }
  
  .category_section {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  
  .order_relate {
    margin-top: 15px;
    margin-bottom: 15px !important;
  }
  
  .summary_section {
    padding: 15px;
    padding-bottom: 0;
  }
  
  .summary_section_1 {
    padding: 15px;
    padding-top: 0;
    background: #f7f7f7;
  }