.bgboom_1 {
  background: #0b51c9;
  height: 100px;
  position: relative;
  img {
    position: absolute;
    bottom: -50px;
    width: 100px;
    height: 100px;
    left: 50%;
    margin: 0 0 0 -50px;
  }
}

.order_section {
  padding-left: 5%;
  padding-right: 5%;
}

.extra_features {
  margin-top: 50px;
}

.extra_title {
  color: #8f8f8f;
}

.summary_title {
  color: #333333;
}

.b_line {
  border-bottom: 1px solid #e7e8e8;
  padding-bottom: 12px;
}