.products {
  padding-left: 30px;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  > p {
    font-size: 13px;
    color: #777777;
    margin-bottom: 0;
  }
}

.information_4 {
  margin-top: 6px;
  margin-left: 15px;
  float: left;
}

.btn_section_1 {
  margin-top: 5px;
  font-size: 14px;
}

.accept_btn {
  background: #00cc66;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
  width: 65px;
  color: #fff;
  margin-right: 14px;
  border: none;
  cursor: pointer;
}

.review_btn {
  background: #835c9f;
  line-height: 20px;
  text-align: center;
  margin-bottom: 5px;
  width: 65px;
  color: #fff;
  margin-right: 14px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.myend_project {
  background: #e8e8e8;
  line-height: 28px;
  text-align: center;
  // margin-bottom: 5px;
  // padding: 3px 0;
  color: #999999;
  // margin-right: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
  margin: 7px 0;
  // margin-top: 8px;
  // margin-left: -14px;
}

.assign_project {
  background: #7a4e97;
  line-height: 28px;
  text-align: center;
  // margin-bottom: 5px;
  // padding: 3px 13px;
  color: white;
  margin-right: 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
  margin: 7px 0;
  // margin-left: -14px;
}

.follow_info2 {
  margin-bottom: 0;
  font-size: 20px;
  color: #316df8;
  > i {
    font-size: 14px;
    color: #999999;
    width: 24px;
  }
}

.product_section_1 {
  padding: 25px;
  box-shadow: 1px 1px 5px 0px #e8e8e8;
  padding-bottom: 30px;
}

.invoice_btn {
  background: #15ca81;
  line-height: 28px;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  padding: 7px 18px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  right: 0;
  float: right;
  margin-top: 10px;
  margin-right: 14px;
}

.result_section {
  margin-top: 15px;
  > {
    p {
      float: left;
      color: #b0b0b0;
      font-size: 14px;
    }
    a {
      float: right;
      color: #a2a2a2;
      font-size: 14px;
    }
  }
}

.upload_image {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 1px solid #e1e1e1;
  > {
    i {
      color: #b2b2b2;
      font-size: 25px;
    }
    p {
      color: #b2b2b2;
      margin-top: 10px;
    }
  }
}

.billfrom > p {
  margin-bottom: 0;
  color: #666666;
}

.edit_bill {
  color: #8f8f8f;
}

.service_name {
  color: #7a7a7a;
  font-size: 14px;
  font-weight: bold;
}

.service_field, .description_field, .tax_field, .total_field {
  width: 100%;
  padding: 8px;
}

.service_field::-webkit-input-placeholder, .description_field::-webkit-input-placeholder, .tax_field::-webkit-input-placeholder {
  color: #cfcfcf;
}

.total_field::-webkit-input-placeholder {
  color: #999999;
}

.follow_info3 {
  margin-bottom: 0;
  font-size: 20px;
  color: #ff3333;
  > i {
    font-size: 14px;
    color: #ff3333;
    width: 24px;
  }
}

.delete_title {
  margin-top: 10px;
  font-size: 14px;
  color: #ff3333;
}

.c_btn {
  color: #b8b8b8;
  margin-left: 10%;
  font-size: 18px;
  margin-top: 20px;
  float: left;
}

.saveinvoice_btn {
  background: #7a4e97;
  line-height: 28px;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  padding: 7px 30px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  right: 0;
  float: right;
  margin-top: 10px;
}

.center_icon {
  text-align: center;
  margin-right: 0;
  padding-right: 0;
  max-width: 5%;
  > i {
    color: #666666;
  }
}

.demo_description {
  font-size: 12px;
  color: #666666;
}

#main_nav {
  background: #72617d;
  z-index: 1000000000;
}

footer#contact {
  z-index: 1000000000;
}

.invoice_section {
  position: absolute;
  z-index: 9999;
  background: white;
  top: 42%;
  width: 94%;
  height: 987px;
}

.trash_btn {
  float: right;
  margin: 80px -39px 0px 0px;
  > i {
    color: #a0a0a0;
  }
}

.addplus_btn {
  float: right;
  margin: 25px -39px 0px 0px;
  > i {
    color: #a0a0a0;
  }
}

.t_box {
  margin-right: 0px;
  margin-left: 0px;
  box-shadow: 1px 1px 5px 0px #e8e8e8;
}

.products > a > p {
  font-size: 13px;
  color: #777777;
  margin-bottom: 0;
}

.information_5 {
  margin-top: 9px;
  float: left;
}

.billfrom_box {
  padding: 0;
  padding-left: 26px;
}