.jiyo > li > a > i {
    width: 40px;
  }
  
  .service_section_1 {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .edit_dots3, .edit_dots4, .edit_dots5, .edit_dots6, .edit_dots7, .edit_dots8, .edit_dots9, .edit_dots10, .edit_dots11, .edit_dots12, .edit_dots13, .edit_dots14, .edit_dots15, .edit_dots16 {
    margin: 0;
    list-style: none;
    padding: 2%;
    right: 7%;
    position: absolute;
    float: right;
    background: white;
    box-shadow: 0px 7px 18px 3px #efefef;
  }
  
  .edit_dots13, .edit_dots14, .edit_dots15, .edit_dots16 {
    margin-right: 10px !important;
    padding: 2% !important;
    right: 7% !important;
  }
  
  .edit_dots_1, .edit_dots2, .edit_dots3, .edit_dots4, .edit_dots5, .edit_dots6, .edit_dots7, .edit_dots8, .edit_dots9, .edit_dots10, .edit_dots11, .edit_dots12, .edit_dots13, .edit_dots14, .edit_dots15, .edit_dots16 {
    margin: 0;
    width: 130px;
    height: 100px;
    list-style: none;
    padding: 20%;
    z-index: 999;
    right: 52%;
    position: absolute;
    float: right;
    background: white;
    box-shadow: 0px 7px 18px 3px #efefef;
  }
  
  .edit_dots_1 > li > a, .edit_dots2 > li > a, .edit_dots3 > li > a, .edit_dots4 > li > a, .edit_dots5 > li > a, .edit_dots6 > li > a, .edit_dots7 > li > a, .edit_dots8 > li > a, .edit_dots9 > li > a, .edit_dots10 > li > a, .edit_dots11 > li > a, .edit_dots12 > li > a, .edit_dots13 > li > a, .edit_dots14 > li > a, .edit_dots15 > li > a, .edit_dots16 > li > a {
    color: #c2c2c2;
  }
  
  .edit_dots_1 > li > a:hover, .edit_dots2 > li > a:hover, .edit_dots3 > li > a:hover, .edit_dots4 > li > a:hover, .edit_dots5 > li > a:hover, .edit_dots6 > li > a:hover, .edit_dots7 > li > a:hover, .edit_dots8 > li > a:hover, .edit_dots9 > li > a:hover, .edit_dots10 > li > a:hover, .edit_dots11 > li > a:hover, .edit_dots12 > li > a:hover, .edit_dots13 > li > a:hover, .edit_dots14 > li > a:hover, .edit_dots15 > li > a:hover, .edit_dots16 > li > a:hover {
    color: #5a5a5a;
  }
  
  .status_section_1 {
    border-bottom: 1px solid #b2b2b2;
    height: 25px;
    margin-top: 70px;
  }
  
  .project_running {
    box-shadow: 1px 1px 5px 0px #e8e8e8;
    padding-top: 22px;
    padding-bottom: 10px;
    padding-left: 11px;
    > div > {
      .mb3 > p {
        color: #333333;
        font-size: 29px;
        font-weight: bold;
      }
      .mb9 > p {
        font-weight: normal !important;
        font-size: 18px !important;
        margin: 0;
        color: #7a7a7a;
        margin-left: 10px;
      }
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1920px) {
    .mb3 {
      padding-right: 0;
    }
    .mb9 {
      padding-left: 0;
    }
    .threedot_btn {
      position: absolute;
      float: right;
      right: 23px;
    }
  }
  
  .info2 {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #8f8f8f;
  }
  
  .dummy_text {
    margin-bottom: 0;
    color: #8f8f8f;
    font-size: 14px;
  }
  
  .mt30 {
    margin-top: 30px;
  }
  
  .follow_info1 > i {
    font-size: 14px;
    color: #3066ca;
    width: 16px;
  }
  
  .f_twitter {
    font-size: 14px;
    color: #3066ca;
    width: 16px;
    position: relative;
    top: 0;
    left: 0;
    color: #09bcf0 !important;
  }
  
  .information_3 {
    margin-top: 25px;
    margin-left: 15px;
    float: left;
  }
  
  .sl_section i {
    color: #999999;
    font-size: 13px;
  }
  
  .assign_name {
    font-size: 19px;
    color: #666666;
    margin-top: 10px;
  }
  
  .amount {
    font-size: 13px;
    margin-top: 19px;
    margin-bottom: 0;
    color: #666666;
  }
  
  .amount_price {
    font-size: 29px;
    color: #666666;
  }
  
  .amount_description {
    font-size: 13px;
    margin-bottom: 9px;
    margin-top: 5px;
    color: #666666;
  }
  
  .end_project {
    background: #e8e8e8;
    line-height: 28px;
    text-align: center;
    margin-bottom: 5px;
    padding: 3px 13px;
    color: #999999;
    margin-right: 14px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 27px;
    margin-left: -14px;
  }
  
  .pay_section {
    box-shadow: 1px 1px 5px 0px #e8e8e8;
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .pay_title {
    margin-bottom: 3px;
    font-size: 13px;
    color: #a7a7a7;
  }
  
  .pay_h {
    color: #666666;
    font-weight: bold;
    font-size: 29px;
    margin-bottom: 3px;
  }
  
  .pay_description {
    color: #666666;
  }
  
  .pay_btn_section {
    text-align: right;
    margin-top: 3%;
  }
  
  .pay_btn {
    background: #523863;
    line-height: 28px;
    text-align: center;
    margin-bottom: 5px;
    width: 125px;
    color: #fff;
    margin-right: 14px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .paid_btn {
    background: #e8e8e8;
    line-height: 28px;
    text-align: center;
    margin-bottom: 5px;
    width: 125px;
    color: #999999;
    margin-right: 14px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .create_btn {
    background: #15ca81;
    line-height: 28px;
    text-align: center;
    margin-bottom: 5px;
    color: white;
    padding: 7px 24px;
    margin-right: 14px;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .product_section {
    padding: 25px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px 0px #e8e8e8;
    padding-bottom: 75px;
    > h5 {
      color: #666666;
      margin-bottom: 20px;
    }
  }
  
  .tags {
    margin-bottom: 0;
    color: #666666;
  }
  
  .border_question {
    border-bottom: 1px solid #e1e1e1;
    margin-top: 60px;
  }
  
  .containers {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .containers {
    &::after {
      content: "";
      clear: both;
      display: table;
    }
    img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
      &.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    color: #e7e7e7;
    margin-left: 8px;
    font-size: 12px;
  }
  
  .chatting_box {
    overflow-y: scroll;
    height: 365px;
    margin-bottom: 40px;
  }
  
  .message_field {
    width: 88%;
    padding: 8px;
    &::-webkit-input-placeholder {
      color: #dddddd;
    }
  }
  
  .fly_btn {
    padding: 4%;
    background: #523863;
    margin-left: -4px;
    padding-top: 7px;
    float: right;
    color: white;
  }
  
  .hyu3 {
    width: 20%;
    margin-right: 2%;
    float: left;
    border-radius: 0;
  }
  
  .hyu4 {
    width: 60%;
    float: left;
    border-radius: 0;
  }
  
  .milestone_btn {
    background: #15ca81;
    line-height: 28px;
    text-align: center;
    width: 16%;
    height: 39px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    float: left;
  }
  
  .t_section {
    box-shadow: 1px 1px 5px 0px #e8e8e8;
    background: white;
    cursor: pointer;
    display: contents;
    position: relative;
  }
  
  .t_section-1 {
    box-shadow: 1px 1px 5px 0px #e8e8e8;
    background: white;
  }
  
  #menu2 > div > div > div {
    margin-right: 0px;
    margin-left: 0px;
    box-shadow: 1px 1px 5px 0px #e8e8e8;
  }
  
  .add_sec {
    margin-top: 1px;
    float: left;
    box-shadow: unset !important;
  }