#search_brand {
  padding: 100px 0 30px;
  background: #f6f6f6;
}

.brand_search {
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #5a5a5a;
  font-size: 20px;
}

.container-1 {
  .icon {
    position: absolute;
    top: 68%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #a5a5a5;
  }
  input#search {
    &:hover, &:focus, &:active {
      outline: none;
      background: #ffffff;
    }
    width: 83%;
    height: 50px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #a5a5a5;
    padding-left: 45px;
    padding-right: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
}

.icon-1, .icon-2, .icon-3, .divider_line {
  position: absolute;
  padding-top: 13px;
  color: #b2b2b2;
}

.icon-1 {
  top: 78%;
  right: 26%;
}

.icon-2 {
  top: 78%;
  right: 23%;
}

.icon-3 {
  top: 78%;
  right: 20%;
}

.divider_line {
  top: 78%;
  right: 30%;
}

.search_box {
  position: relative;
}

.searchbtn {
  float: right;
  width: 17%;
  padding: 12px;
  background: #ffa042;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  &:hover {
    background: #ee9945;
  }
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  > i {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .searchbtn {
    padding: 10.281px;
  }
}

@media only screen and (max-width: 992px) {
  .searchbtn {
    padding: 0px;
  }
}

.result_title {
  padding-top: 30px;
  padding-bottom: 30px;
  h4 {
    color: #5a5a5a;
    font-size: 15px;
  }
}

.information_1 {
  margin-top: 9px;
  margin-left: 10px;
  float: left;
}

.info_1 {
  margin-bottom: 3px;
  color: #8f8f8f;
  text-transform: uppercase;
}

.sl_section_1 {
  display: flex;
  i {
    color: #999999;
  }
  > p {
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0;
    color: #999999;
  }
}

.information_2 {
  margin-top: 25px;
}

@media (min-width: 992px) {
  .infopad_left {
    padding-left: 0;
  }
  .infopad_right {
    padding-right: 0;
  }
  .infopad {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .infopad {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.brand_twitter {
  color: #19abff !important;
}

.brand_facebook {
  color: #2e54c0 !important;
}

.brand_youtube {
  color: #d62121 !important;
}

.brand_instagram {
  color: #d786f1 !important;
}

.quick_view, .quick_view_1, .quick_view_2 {
  background: #34fbca;
  line-height: 28px;
  text-align: center;
  margin-bottom: 5px;
  width: 111px;
  color: #fff;
  margin-right: 14px;
  border: none;
  cursor: pointer;
}

.view_profile {
  background: #72617d;
  line-height: 28px;
  text-align: center;
  margin-bottom: 5px;
  width: 111px;
  color: #fff;
  margin-right: 14px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn_section_1 {
  margin-top: 23px;
  font-size: 14px;
}

.t_section {
  box-shadow: 1px 1px 5px 0px #e8e8e8;
  background: white;
}

.pt30 {
  padding-top: 30px;
}

.pt10 {
  padding-top: 10px;
}

.socialicon_1 {
  margin: 0 5px 0 0;
  padding: 7px 7px;
  color: white;
  padding-left: 0;
  > img {
    margin-bottom: 10px;
  }
}

.platform_section {
  padding: 16px;
}

.bnmx_1 {
  font-size: 14px;
  color: #666;
}

.frequency {
  color: #666666;
  padding-top: 25px;
  padding-bottom: 5px;
  font-size: 14px;
}

.audience {
  font-size: 13px;
}

// #search_block {
//   position: absolute;
//   z-index: 9999;
// }

.view_section {
  text-align: center;
  border-right: 1px solid #f3f3f3;
  > i {
    font-size: 30px;
  }
}

.v_title {
  text-transform: uppercase;
  color: #999999;
}

.follow_section {
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.followers {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  margin: 0 auto;
  > p {
    font-size: 10px;
    margin-bottom: 0;
  }
}

.sl_section_2 {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
  > .male > {
    i {
      color: #707070;
    }
    p {
      font-size: 12px;
      margin-top: 3px;
      margin-bottom: 0;
      color: #707070;
    }
  }
}

.male {
  text-align: center;
  margin: 0 auto;
}

.media_reach {
  padding: 20px;
  padding-top: 0;
}

.quickview, .quickview_1, .quickview_2 {
  padding-top: 30px;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.note {
  width: 210px;
  text-align: center;
}

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  margin-right: 75px;
  font-size: 13px;
}

@media (min-width: 992px) {
  .info_width_3 {
    max-width: 21%;
  }
  .info_width_1 {
    max-width: 29%;
    flex: 0 0 10.2%;
  }
  .info_width_2 {
    max-width: 42%;
    flex: 0 0 10.3%;
  }
  .info_width_4 {
    flex: 0 0 20%;
    max-width: 18.7%;
  }
}