.social_reach {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 0;
  margin-left: 7px;
  color: #999999;
}

.service_icon {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: white !important;
  font-size: 13px;
}

.tabs1 {
  position: relative;
  float: left;
  width: 75px;
  padding-left: 0;
  margin-bottom: 0px;
  margin-left: -65px;
  height: 1000px;
  background: #f0f0f0;
  li {
    position: relative;
    list-style: none;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 26px;
      padding-top: 13px;
      padding-bottom: 13px;
      text-decoration: none;
      border-radius: 10px;
      color: white !important;
      font-size: 25px;
    }
    &.active a {
      color: white;
      z-index: 2;
      width: 80px;
      border-right-width: 0px;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      background: #ffffff !important;
      color: #918997 !important;
      border-radius: 0px;
      border-left: 3px solid #9b80ae;
    }
  }
}

.tab-title1 > a > span {
  font-size: 20px;
}

.tab-title-1 > a > i {
  color: #a698af !important;
}

.tab_title1 {
  margin-top: 3px;
  margin-left: 20px !important;
  margin-bottom: 0;
}

.vertical-tabs1 {
  &:before {
    /* content: ""; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px;
    z-index: 1;
    border-bottom: 0;
    border-right: 0;
    border-top: 0 !important;
    margin-left: 16px;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  position: relative;
  margin-left: 50px;
  width: 100%;
}

.tabs-content1 {
  margin-left: 14px;
  .content {
    display: none;
    padding: 25px;
    padding-top: 20px;
    &.active {
      display: block;
    }
    > p {
      color: #9c9a9a;
    }
  }
}

.service_info {
  box-shadow: 1px 1px 5px 0px #e8e8e8;
  > {
    img {
      width: 100%;
    }
    h6 {
      color: #b8b8b8;
      padding: 7px;
    }
  }
}

@media (min-width: 992px) {
  .s_service {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.tags_field {
  padding: 25px;
  padding-top: 10px;
  > p {
    margin-bottom: 0px;
    color: #858585;
  }
}

.skill_field {
  box-shadow: 1px 1px 5px 0px #e8e8e8;
}

.f_t {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}

.review_details > i {
  font-size: 12px;
  margin-right: 5px;
}