.about_info {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about_title > p {
  font-size: 14px;
  color: #666666;
}

.sl_section {
  display: flex;
  > p {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 10px;
    color: #999999;
  }
}

.hireme {
  background: #15ca81;
  line-height: 28px;
  text-align: center;
  margin-bottom: 5px;
  width: 125px;
  color: #fff;
  margin-right: 14px;
  border: none;
  cursor: pointer;
}
.slider.col-lg-7, .detail-wrap.col-lg-9{
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}
@media (min-width: 992px){
  .slider.col-lg-7, .detail-wrap.col-lg-9{
    padding-left: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }
}
.add_shortlist {
  background: #6e5e79;
  line-height: 28px;
  text-align: center;
  margin-bottom: 5px;
  width: 125px;
  color: #fff;
  margin-right: 14px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn_section {
  margin-top: 15px;
  font-size: 14px;
}

.twitter_section {
  padding-top: 20px;
}

.business > p {
  color: #a091a8;
}

.business_img > img {
  width: 100%;
}

.business_btn {
  color: #666 !important;
  font-size: 12px;
  text-align: center;
  line-height: 35px;
  padding: 5px 17px;
  border-radius: 20px;
  margin: 0 4px 6px 2px;
  border: 1px solid #e3e3e3;
}

.skill_section {
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}

.about_info > div > p {
  margin-bottom: 0;
  color: #666666;
}

.faq {
  color: #a091a8;
}

.faqHeader {
  font-size: 27px;
  margin: 20px;
}

.panel-title {
  color: #5e5e5e;
}

.panel-default > .panel-heading {
  &:after {
    font-family: 'Fontawesome';
    float: right;
    content: "\f078";
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    margin-top: -20px;
    color: #454444;
  }
  &.collapsed:after {
    font-family: 'Fontawesome';
    content: "\f077";
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(180deg);
    color: #454444;
  }
}

.panel-group {
  margin-bottom: 20px;
  margin-left: 5%;
  width: auto;
  margin-top: 20px;
}

.panel-body {
  color: #666666;
}

.panel-heading {
  cursor: pointer;
}

.panel-group .panel + .panel {
  margin-top: 15px;
}

.panel-default > .panel-heading {
  color: #333;
  background-color: white;
  border-color: #ddd;
}

.service_review {
  padding-left: 5%;
  padding-right: 5%;
}

.s_review {
  color: #a091a8;
  float: left;
}

.review_name {
  margin-top: 25px;
  text-align: center;
  font-size: 15px;
  color: #333333;
}

.review_profile {
  text-align: center;
}

.review_title {
  color: #666666;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

.recommend_service {
  text-align: center;
  color: #5c5c5c;
}

.recommend_info {
  padding: 15px;
  box-shadow: 1px 1px 5px 0px #e8e8e8;
  > {
    img {
      width: 100%;
    }
    h6 {
      color: #b8b8b8;
      padding: 7px;
    }
  }
}

.review_details {
  margin-top: 10px;
}

.dot {
  border-bottom: 1px solid #e6e6e6;
}

.r_detail {
  color: #d1d1d1;
  font-size: 14px;
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.vertical-tabs {
  &:before {
    /* content: ""; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px;
    z-index: 1;
    /* border: 1px solid black; */
    border-bottom: 0;
    border-right: 0;
    /* box-shadow: -5px 0px 8px -3px; */
    border-top: 0 !important;
    margin-left: 16px;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  position: relative;
  margin-left: 200px;
}

.tabs {
  position: relative;
  float: left;
  width: 200px;
  padding-left: 0;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: -200px;
  li {
    position: relative;
    list-style: none;
    margin-bottom: 30px;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      border-radius: 10px;
      border: 1px solid #ddd;
      color: white !important;
      font-size: 13px;
    }
    &.active a {
      color: white;
      z-index: 2;
      /* border-right: 1px solid green; */
      width: 215px;
      /* box-shadow: -2px 0px 16px -5px; */
      border-radius: 7px !important;
      border-right-width: 0px;
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }
}

.tabs-content {
  .content {
    display: none;
    padding: 25px;
    &.active {
      display: block;
    }
    > p {
      color: #9c9a9a;
    }
  }
  border-left: 1px solid;
  margin-left: 14px;
  /* box-shadow: -5px 0px 8px -3px; */
  height: 550px;
}

.tab_title {
  color: #9c9a9a;
  font-size: 13px;
}

.f1 > a {
  background-color: #a870cb;
}

.f2 > a {
  background-color: #8450a4 !important;
}

.f3 > a {
  background-color: #685872 !important;
}

.f4 > a {
  background-color: grey !important;
}

.tabs li.active a {
  background: #ffffff !important;
  color: #918997 !important;
  border-radius: 7px;
}

.f1 .active > a {
  background: #fbfbfb !important;
  color: white;
}

.tab-title > a > span {
  font-size: 20px;
}

.tabs-content .content > img {
  float: left;
}

.tab_title {
  margin-top: 3px;
  margin-left: 20px !important;
  margin-bottom: 0;
}

.buy_now {
  background: #4ac084;
  line-height: 39px;
  text-align: center;
  width: 130px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.money {
  background: #3d9a6b;
  line-height: 39px;
  text-align: center;
  width: 80px;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.carousel-inner {
  border-radius: 0;
}