.service_tab {
  padding: 0;
  margin-bottom: 0;
  float: left;
  display: block;
  width: 100%;
  background: #f9f9f9;
  li {
    list-style: none;
    padding: 2%;
    float: left;
  }
  a {
    color: #666;
    font-size: 17px;
    font-weight: 300;
  }
}

.service_1 {
  background: #f9f9f9;
  padding: 25px;
  flex-wrap: wrap;
  display: flex;
}

.linkbtnz1 {
  color: #666 !important;
  font-size: 12px;
  text-align: center;
  width: 115px;
  line-height: 24px;
  border-radius: 20px;
  padding: 3px;
  margin: 0px 8px;
  box-shadow: 2px 2px 2px #ccc;
  background: #ebebeb;
}

.tags_box {
  font-size: 14px;
  color: #666;
  padding-top: 15px;
  border: 1px solid #72617d;
  padding-bottom: 15px;
  border-radius: 10px;
}

.triangle-down {
  margin-top: 65px;
  width: 90%;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 0px solid transparent;
  border-top: 20px solid white;
}

.square {
  width: 90%;
  background-color: white;
  border-left: 25px solid #f9f9f9;
}

.notification {
  margin: 0 auto;
  text-align: center;
}

.notification_title {
  padding: 10px;
  > p {
    font-size: 14px;
    color: #a3a3a3;
  }
}

.social_profile {
  background: #f9f9f9;
  padding: 25px;
}

.next-section {
  padding: 25px;
}

.button > span {
  background-repeat: no-repeat;
}

.borderRadius {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.borderRadiusTp {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.borderRadiusBtm {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.ddcommon {
  position: relative;
  display: -moz-inline-stack;
  zoom: 1;
  display: inline-block;
  *display: inline;
  cursor: default;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
    }
  }
}

.borderRadiusTp ul li:last-child {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-bottom: 0 none #c3c3c3;
}

.borderRadiusBtm ul li:first-child {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 1 solid #c3c3c3;
}

.ddcommon {
  .disabled {
    img, span {
      opacity: .5;
      /* standard: ff gt 1.5, opera, safari */
      -ms-filter: "alpha(opacity=50)";
      /* ie 8 */
      filter: alpha(opacity = 50);
      /* ie lt 7 */
      -khtml-opacity: .5;
      /* safari 1.x */
      -moz-opacity: .5;
      /* ff lt 1.5, netscape */
      color: #999999;
    }
  }
  &.disabledAll {
    opacity: .5;
    /* standard: ff gt 1.5, opera, safari */
    -ms-filter: "alpha(opacity=50)";
    /* ie 8 */
    filter: alpha(opacity = 50);
    /* ie lt 7 */
    -khtml-opacity: .5;
    /* safari 1.x */
    -moz-opacity: .5;
    /* ff lt 1.5, netscape */
    color: #999999;
  }
  .clear {
    clear: both;
  }
  .shadow {
    -moz-box-shadow: 5px 5px 5px -5px #888888;
    -webkit-box-shadow: 5px 5px 5px -5px #888888;
    box-shadow: 5px 5px 5px -5px #888888;
  }
  input.text {
    color: #7e7e7e;
    padding: 0 0 0 0;
    position: absolute;
    background: #fff;
    display: block;
    width: 98%;
    height: 98%;
    left: 2px;
    top: 0;
    border: none;
  }
}

.ddOutOfVision {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.borderRadius .shadow {
  -moz-box-shadow: 5px 5px 5px -5px #888888;
  -webkit-box-shadow: 5px 5px 5px -5px #888888;
  box-shadow: 5px 5px 5px -5px #888888;
}

.borderRadiusBtm .shadow {
  -moz-box-shadow: -5px -5px 5px -5px #888888;
  -webkit-box-shadow: -5px -5px 5px -5px #888888;
  box-shadow: -5px -5px 5px -5px #888888;
}

.borderRadiusTp .border, .borderRadius .border {
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.borderRadiusBtm .border {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

img.fnone {
  float: none !important;
}

.ddcommon {
  .divider {
    width: 0;
    height: 100%;
    position: absolute;
  }
  .ddArrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 4px;
    &:hover {
      background-position: 0 100%;
    }
  }
  .ddTitle {
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    .ddTitleText {
      display: block;
      .ddTitleText {
        padding: 0;
      }
    }
    .description {
      display: block;
    }
    .ddTitleText img {
      position: relative;
      vertical-align: middle;
      float: left;
    }
  }
  .ddChild {
    position: absolute;
    display: none;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    zoom: 1;
    z-index: 9999;
    height: auto !important;
    li {
      clear: both;
      .description {
        display: block;
      }
      img {
        border: 0 none;
        position: relative;
        vertical-align: middle;
        float: left;
      }
      &.optgroup {
        padding: 0;
        .optgroupTitle {
          padding: 0 5px;
          font-weight: bold;
          font-style: italic;
        }
        ul li {
          padding: 5px 5px 5px 15px;
        }
      }
    }
  }
  .noBorderTop {
    border-top: none 0  !important;
    padding: 0;
    margin: 0;
  }
}

/*************** default theme **********************/

.dd {
  width: 100% !important;
  cursor: pointer;
  border: 1px solid #72617d;
  color: #707070;
  padding: 2px 12px;
  margin-bottom: 8px;
  .divider {
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #fff;
    right: 24px;
  }
  .ddArrow {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    // background: url(../images/dd_arrow.gif) no-repeat;
    &:hover {
      background-position: 0 100%;
    }
  }
  .ddTitle {
    color: #a3bed6;
    background: white;
    .ddTitleText {
      padding: 5px 20px 5px 5px;
      .ddTitleText {
        padding: 0;
      }
    }
    .description {
      font-size: 12px;
      color: #666;
    }
    .ddTitleText img {
      padding-right: 5px;
    }
  }
  .ddChild {
    border: 1px solid #c3c3c3;
    background-color: #fff;
    left: -1px;
    li {
      padding: 5px;
      padding-left: 18px;
      background-color: #fff;
      border-bottom: 1px solid #c3c3c3;
      .description {
        color: #666;
      }
    }
  }
}

.ddlabel {
  color: #999999;
}

.dd .ddChild li {
  .ddlabel {
    color: #999999;
  }
  &.hover {
    background-color: #f2f2f2;
  }
  img {
    padding: 0 6px 0 0;
  }
  &.optgroup {
    padding: 0;
    .optgroupTitle {
      padding: 0 5px;
      font-weight: bold;
      font-style: italic;
    }
    ul li {
      padding: 5px 5px 5px 15px;
    }
  }
  &.selected {
    color: #999999;
    background-color: #f2f2f2;
  }
}

/*auto completetag*/

.tag-ctn {
  position: relative;
  height: 28px;
  padding: 0;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  cursor: default;
  display: block;
}

.tag-ctn-invalid {
  border: 1px solid #CC0000;
}

.tag-ctn-readonly {
  cursor: pointer;
}

.tag-ctn-disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.tag-ctn-bootstrap-focus {
  border-color: rgba(82, 168, 236, 0.8) !important;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .tag-res-ctn {
    border-color: rgba(82, 168, 236, 0.8) !important;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.tag-ctn input {
  border: 0;
  box-shadow: none;
  -webkit-transition: none;
  outline: none;
  display: block;
  padding: 4px 6px;
  line-height: normal;
  overflow: hidden;
  height: auto;
  border-radius: 0;
  float: left;
  margin: 2px 0 2px 2px;
}

.tag-ctn-disabled input {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.tag-ctn {
  .tag-input-readonly {
    cursor: pointer;
  }
  .tag-empty-text {
    color: #DDD;
  }
  input:focus {
    border: 0;
    box-shadow: none;
    -webkit-transition: none;
    background: #FFF;
  }
  .tag-trigger {
    float: right;
    width: 27px;
    height: 100%;
    position: absolute;
    right: 0;
    border-left: 1px solid #CCC;
    background: #EEE;
    cursor: pointer;
    .tag-trigger-ico {
      display: inline-block;
      width: 0;
      height: 0;
      vertical-align: top;
      border-top: 4px solid gray;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      content: "";
      margin-left: 9px;
      margin-top: 13px;
    }
    &:hover {
      background: -moz-linear-gradient(100% 100% 90deg, #e3e3e3, #f1f1f1);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e3e3e3));
      display: none;
      .tag-trigger-ico {
        background-position: 0 -4px;
      }
    }
  }
}

.tag-ctn-disabled .tag-trigger {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.tag-ctn-bootstrap-focus {
  border-bottom: 1px solid #CCC;
}

.tag-res-ctn {
  position: relative;
  background: #FFF;
  overflow-y: auto;
  z-index: 9999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #CCC;
  left: -1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  .tag-res-group {
    line-height: 23px;
    text-align: left;
    padding: 2px 5px;
    font-weight: bold;
    border-bottom: 1px dotted #CCC;
    border-top: 1px solid #CCC;
    background: #f3edff;
    color: #333;
  }
  .tag-res-item {
    line-height: 25px;
    text-align: left;
    padding: 2px 5px;
    color: #666;
    cursor: pointer;
  }
  .tag-res-item-grouped {
    padding-left: 15px;
  }
  .tag-res-odd {
    background: #F3F3F3;
  }
  .tag-res-item-active {
    background-color: #3875D7;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875D7', endColorstr='#2A62BC', GradientType=0 );
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875D7), color-stop(90%, #2A62BC));
    background-image: -webkit-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
    background-image: -moz-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
    background-image: -o-linear-gradient(top, #3875D7 20%, #2A62BC 90%);
    background-image: linear-gradient(#3875D7 20%, #2A62BC 90%);
    color: #fff;
  }
}

.tag-sel-ctn {
  overflow: auto;
  line-height: 22px;
  padding-right: 27px;
  .tag-sel-item {
    background: #ebebeb;
    color: #EEE;
    float: left;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 3px;
    margin-left: 5px;
    margin-top: 4px;
  }
  .tag-sel-text {
    background: #FFF;
    color: #666;
    padding-right: 0;
    margin-left: 0;
    font-size: 14px;
    font-weight: normal;
  }
}

.tag-res-ctn .tag-res-item em {
  font-style: normal;
  background: #565656;
  color: #FFF;
}

.tag-sel-ctn {
  .tag-sel-item:hover {
    background: #ebebeb;
  }
  .tag-sel-text:hover {
    background: #FFF;
  }
  .tag-sel-item-active {
    border: 1px solid red;
    background: #757575;
  }
}

.tag-ctn .tag-sel-ctn .tag-sel-item {
  margin-top: 3px;
  color: #4c4c4c;
}

.tag-stacked .tag-sel-item {
  float: inherit;
}

.tag-sel-ctn .tag-sel-item .tag-close-btn {
  width: 7px;
  cursor: pointer;
  height: 7px;
  float: right;
  margin: 8px 2px 0 10px;
  &:hover {
    background-position: 0 -7px;
  }
}

.tag-helper {
  color: #AAA;
  font-size: 10px;
  position: absolute;
  top: -17px;
  right: 0;
}

#ms1 {
  width: 100% !important;
  height: auto;
  border: 1px solid rgb(114, 97, 125) !important;
  padding: 2px 12px !important;
}

.tag-ctn .tag-trigger {
  display: none;
}

.popover {
  width: 350px !important;
  max-width: 350px !important;
}

.optgroupTitle {
  display: none;
}

.dd {
  .ddTitle .ddTitleText {
    padding: 5px 20px 5px 0px;
  }
  .ddChild li {
    &.optgroup ul li {
      padding: 5px 5px 5px 25px;
    }
    padding-left: 11px;
  }
}