.influencer_list {
  padding-left: 25px;
  padding-right: 25px;
  > div > {
    h5 {
      color: #333333;
    }
    p {
      font-size: 14px;
      color: #858585;
    }
  }
}
.assign-project{
  &.hidden{
    display: none;
  }
}
.tags_1 {
  font-size: 40px;
  color: #72617d;
}

.main_title {
  color: #8d8d8d;
  margin-bottom: 0;
  font-weight: bold;
}

.sub_title {
  color: #999999;
  margin-bottom: 0;
  font-size: 12px;
}

.sum_list {
  float: right;
}

.no_row {
  margin: 0;
}

.list_sec {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 1px 1px 5px 0px #e8e8e8;
  &:hover {
    background: #f4f4f4;
    cursor: pointer;
  }
}



.edit_dots_1 > li > a, .edit_dots2 > li > a, .edit_dots3 > li > a, .edit_dots4 > li > a {
  color: #c2c2c2;
}

.edit_dots_1 > li > a:hover, .edit_dots2 > li > a:hover, .edit_dots3 > li > a:hover, .edit_dots4 > li > a:hover {
  color: #5a5a5a;
}

.platform_title {
  color: #a5a5a5;
  margin-top: 40px;
  font-size: 16px;
  margin-bottom: 0;
}

.hash_title {
  color: #545353;
  margin-top: 30px;
  font-size: 16px;
}

.h10 {
  height: 100px;
}

.pt20 {
  padding-top: 20px;
}

.influencer_list #ms1 {
  height: 100px !important;
}

.pro50 {
  padding-top: 50%;
  text-align: center;
}
.t_section{
  .one_inf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .list{
      width: 50%;
      &:hover{
        cursor: pointer;
      }
    }
    .submenu{
      width: 5%;
      position: relative;
      a{
        i{
          margin: 0 15px;
        }
        color: #8f8f8f;
      }
      .edit_menu {
        margin: 0;
        width: 130px;
        height: 100px;
        list-style: none;
        z-index: 999;
        right: 20%;
        top: 100%;
        position: absolute;
        padding: 10px;
        background: white;
        box-shadow: 0px 7px 18px 3px #efefef;
      }
    }
  }
}


.social_reach {
  color: #666666;
  padding-top: 15px;
  font-size: 11px;
  margin: 0;
}

.viewprofile > img:hover, .viewprofile1 > img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.shadow-box{
  box-shadow: 1px 1px 5px 0px #e8e8e8;
}